﻿@model AssetMGT.Data.MaintenanceFrequency

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card text-center">
            <div class="card-header">
                <h4>Create a New Maintenance Frequency</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.TheFrequency, htmlAttributes: new { @class = "control-label col-md-4" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.EditorFor(model => model.TheFrequency, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(model => model.TheFrequency, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class=" row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col-md-6">
                        <input type="submit" value="Create" class="btn btn-success btn-sm" />

                        <a href="@Url.Action("Index","MaintenanceFrequency")" role="button" class="btn btn-primary btn-sm">Back To MaintenaceFrequency List</a>

                    </div>

                    <div class="form-group col-md-3"></div>

                </div>
            </div>
        </div>

    </div>



}


