﻿@model AssetMGT.Data.MaintenanceFrequency

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="card text-center">
        <div class="card-header">
            <h4>Are you sure you want to delete this Maintenace Frequency ?</h4>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal">
                <dt>
                    Maintenance Frequency :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TheFrequency)
                </dd>

            </dl>

        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-footer text-muted">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Delete" class="btn btn-default btn-sm" />

                    <a href="@Url.Action("Index","MiantenanceFrequency")" role="button" class="btn btn-primary btn-sm">Back To MiantenanceFrequency List</a>

                </div>

                <div class="form-group col-md-3"></div>
            </div>
        }


    </div>
    

</div>
