﻿@model AssetMGT.Data.MaintenanceFrequency

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>

    <div class="card text-center">
        <div class="card-header">
            <h4>Details of MainetnanceFrequency</h4>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    Maintenance Frequency :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TheFrequency)
                </dd>

            </dl>
        </div>
        <div class="card-footer text-muted">
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-6">

                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " }) |
                <a href="@Url.Action("Index","MainetnanceFrequency")" role="button" class="btn btn-primary btn-sm">Back To MainetnanceFrequency List</a>

            </div>

            <div class="form-group col-md-3"></div>
        </div>
    </div>


</div>

