﻿@model AssetMGT.Data.MaintenanceFrequency

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card text-center">
        <div class="card-header">
            <h4>Edit the MainetnanceFrequency</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.TheFrequency, htmlAttributes: new { @class = "control-label col-md-4" })
                </div>
                <div class="form-group col-md-6">
                    @Html.EditorFor(model => model.TheFrequency, new { htmlAttributes = new { @class = "form-control", required = true } })
                    @Html.ValidationMessageFor(model => model.TheFrequency, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class=" row">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Save" class="btn btn-default btn-sm" />

                    <a href="@Url.Action("Index","MainetnanceFrequency")" role="button" class="btn btn-primary btn-sm">Back To MainetnanceFrequency List</a>

                </div>

                <div class="form-group col-md-3"></div>

            </div>
        </div>
    </div>



    <div class="form-horizontal">
        <h4>Edit the Maintenance Frequency</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.TheFrequency, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TheFrequency, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TheFrequency, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-primary btn-sm" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
