﻿@model AssetMGT.ViewModels.DisposalViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Disposal", null, FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card text-center">
            <div class="card-header">
                <h4>Dispose The Asset (@ViewBag.AssetName)</h4>
            </div>

            <div class="card-body">


                

                <div class=" row text-left ml-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-7">
                        <dl class="dl-horizontal text-left">
                            <dt>
                                Disposal Currency
                            </dt>

                            <dd>
                               
                                    @Html.DropDownList("CurrencyId", new SelectList(Model.Currencies, "Value", "Text"), htmlAttributes: new { @class = "form-control", required = "true", @id="CurrencyId" })


                                <!--@@Html.DropDownList("CurrencyId", new SelectList(ViewBag.Currencies, "CurrencyName", "CurrencyName"), new { @@id = "CurrencyId" })
    @@Html.DropDownListFor(m => m.CurrencyId, (IEnumerable<SelectListItem>)ViewBag.Currencies)-->

                            </dd>

                            <dt>
                                Customer
                            </dt>

                            <dd>
                                @Html.DropDownList("CustomerId", new SelectList(Model.Customers, "Value", "Text"), htmlAttributes: new { @class = "form-control", required = "true", @id = "CustomerId" })


                            </dd>

                            <dt>
                                Asset Name
                            </dt>

                            <dd>
                                @foreach (var item in Model.Assets)
                                {
                                    @Html.EditorFor(modelItem => item.AssetName, item.AssetName, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })


                                }

                                <!--@@Html.EditorFor("AssetName", new { htmlAttributes = new { @@class = "form-control", required = true } })-->

                            </dd>

                            <dt>
                                Asset Code
                            </dt>

                            <dd>
                                @foreach (var item in Model.Assets)
                                {
                                    @Html.EditorFor(modelItem => item.AssetCode, item.AssetCode, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })

                                }

                                @foreach (var item in Model.Assets)
                                {
                                    <input type="hidden" value="@item.Id" name="AssetId" />

                                }


                            </dd>


                        </dl>
                        
                    </div>
                    
                    <div class="form-group col-md-2">
                        
                    </div>



                </div>

            </div>


            <div class="card-footer text-muted">


                <div class=" row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col-md-6">

                        <input type="submit" value="Create" class="btn btn-success btn-sm" />

                        <a href="@Url.Action("Index","Disposal")" role="button" class="btn btn-primary btn-sm">&laquo; View Disposed Assets</a>

                    </div>

                    <div class="form-group col-md-3"></div>

                </div>


            </div>
        </div>



    </div>

    
}


