﻿@model AssetMGT.Data.Asset

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>


    <div class="card text-center">
        <div class="card-header">
            <h4>Disposal Details of @ViewBag.AssetName</h4>
        </div>
        <div class="card-body text-left">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <dl class="dl-horizontal text-left">
                    <dt class="text-left">
                        <b>Asset Code</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetCode)
                    </dd>
                    <dt class="text-left">
                        <b>Asset Name</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetName)
                    </dd>

                    <dt class="text-left">
                        <b>Asset Class</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetClass.AssetClassName)
                    </dd>

                    <dt class="text-left">
                        <b>Asset Purchase Date</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetPurchaseDate)
                    </dd>

                    <dt class="text-left">
                        Asset Disposal Date
                    </dt>

                    <dd>
                        @ViewBag.DisposalDate
                    </dd>



                </dl>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-6">

                <a href="@Url.Action("Index","Disposal")" role="button" class="btn btn-primary btn-sm">&laquo;Back To Disposal List</a>

            </div>

            <div class="form-group col-md-3"></div>
        </div>
    </div>


</div>

