﻿@model AssetMGT.Data.Disposal

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Disposal", null, FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="card text-center">
            <div class="card-header">
                <h4>Edit Disposal Details for @ViewBag.AssetName</h4>
            </div>
            <div class="card-body">


                <div class=" row">

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DisposalDate, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.DisposalDate, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        @Html.ValidationMessageFor(model => model.DisposalDate, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.DisposalPrice, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.DisposalPrice, new { htmlAttributes = new { @class = "form-control", @readonly="true" } })
                        @Html.ValidationMessageFor(model => model.DisposalPrice, "", new { @class = "text-danger" })

                    </div>

                </div>


                <div class=" row">

                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Currency</b>
                        @Html.DropDownList("CurrencyId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CurrencyId, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-6">
                        <b class = "control-label col-md-4">Asset Name</b>
                       @Html.Editor("AssetName", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.AssetName, @readonly = "true" } })


                    </div>

                </div>

                <div class=" row">

                    
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Asset Code</b>
                        @Html.Editor("AssetCode", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.AssetCode, @readonly = "true" } })

                        @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Customer Name</b>
                        @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })

                    </div>

                </div>


            </div>

            <div class="card-footer text-muted">
                <div class=" row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.Id, new { Value = Model.Id })
                        <input type="submit" value="Save" class="btn btn-info btn-sm" />

                        <a href="@Url.Action("Index","Disposal")" role="button" class="btn btn-primary btn-sm">&laquo; Back To Disposal List</a>

                    </div>

                    <div class="form-group col-md-3"></div>

                </div>
            </div>
        </div>
    </div>

}

