﻿@model IEnumerable<AssetMGT.Data.Disposal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Disposed Assets</h3>


<table class="table table-striped table-condensed  table-hover table-bordered">
    <tr>
        <th>
            AssetName
        </th>
        <th>
            AssetStatus
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisposalDate)
        </th>


        <th>Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asset.AssetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asset.AssetStatus)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DisposalDate)
        </td>


        <td>

            @Html.ActionLink("Details ", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs fa fa-list-alt " })
            @*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-xs fa fa-list-alt " })*@
        </td>
    </tr>
}

</table>
