﻿@model PagedList.IPagedList<AssetMGT.Data.Employee>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Registered Employees</h3>

<div class="card">
    <div class="card-header">
        <i class="fa fa-filter text-right" aria-hidden="true"></i>  Filters
    </div>
    <div class="card-body">
        @using (Html.BeginForm("../Employee/Index", "Employee", FormMethod.Get))
        {
            <div class="row">

                <div class="form-group col-md-3">
                    <label for="inputZip">Gender</label>
                    @Html.DropDownList("GenderId", null, "Select all", htmlAttributes: new { @class = "form-control input-sm" })
                </div>

                <div class="form-group col-md-3">
                    <label for="inputZip">Search employee</label>

                    @Html.Editor("searchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Enter Employee Number..." } })
                </div>

                <div class="form-group col-md-3">
                    <label for="inputZip">Showing</label>
                    <input type="text" class="form-control input-sm" value="@ViewBag.PageSize" name="thepageSize" /> Records Per Page
                </div>

                <div class="form-group col-md-2">
                    <input type="submit" value="Filter" class="btn btn-info btn-sm" style="margin-top:25px;" />

                </div>


            </div>

        }

        <div class="row"></div>


    </div>
</div>
<br />

<p>
    <a href="@Url.Action("../Employee/Create","Employee")" class="btn btn-info btn-sm" role="button" aria-pressed="true">Register Employee</a>

    <i>Total Number of Registered Employees - <b>@ViewBag.numEmployees</b> </i>
</p>

<table class="table  table-striped table-condensed  table-hover table-bordered">
    <tr>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.EmpNameSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.EmpNameSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            
            @Html.ActionLink("Employee Number", "Index", new { sortOrder = ViewBag.EmployeeNumberSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            
            @Html.ActionLink("Gender", "Index", new { sortOrder = ViewBag.GenderSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            
            @Html.ActionLink("Email Address", "Index", new { sortOrder = ViewBag.EmailSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " })
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-xs fa fa-list-alt " })
        </td>
    </tr>
    }

</table>

Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize }))
