﻿@model AssetMGT.Data.Supplier

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card text-center">
        <div class="card-header">
            <h4>Register a New Supplier</h4>
        </div>

        <div class="card-body">


            <div class=" row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.SupplierName, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.SupplierTelephone, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.SupplierTelephone, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.SupplierTelephone, "", new { @class = "text-danger" })

                </div>

            </div>


            <div class=" row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.SupplierEmail, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.SupplierEmail, new { htmlAttributes = new { @class = "form-control", @required = "true", @type = "email" } })
                    @Html.ValidationMessageFor(model => model.SupplierEmail, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.CurrencyId, "CurrencyId", htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.DropDownList("CurrencyId", null, htmlAttributes: new { @class = "form-control", @required = "true" })
                    @Html.ValidationMessageFor(model => model.CurrencyId, "", new { @class = "text-danger" })

                </div>

            </div>


        </div>


        <div class="card-footer text-muted">


            <div class=" row">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Create" class="btn btn-success btn-sm" />

                    <a href="@Url.Action("Index","Supplier")" role="button" class="btn btn-primary btn-sm">Back To Supplier List</a>

                </div>

                <div class="form-group col-md-3"></div>

            </div>


        </div>
    </div>


}


