﻿@model AssetMGT.Data.Supplier

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>


    <div class="card text-center">
        <div class="card-header">
            <h4>Are you sure you want to delete this Supplier ?</h4>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Currency.CurrencyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Currency.CurrencyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SupplierName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SupplierName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SupplierTelephone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SupplierTelephone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SupplierEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SupplierEmail)
                </dd>

            </dl>

        </div>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-footer text-muted">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Delete" class="btn btn-default btn-sm" />

                    <a href="@Url.Action("Index","Supplier")" role="button" class="btn btn-primary btn-sm">Back To Supplier List</a>

                </div>

                <div class="form-group col-md-3"></div>
            </div>
        }

    </div>


 
</div>
