﻿@model PagedList.IPagedList<AssetMGT.Data.Supplier>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suppliers</h2>

<div class="card">
    <div class="card-header">
        <i class="fa fa-filter text-right" aria-hidden="true"></i>  Filters
    </div>
    <div class="card-body">
        @using (Html.BeginForm("../Supplier/Index", "Supplier", FormMethod.Get))
        {
            <div class="row">

                <div class="form-group col-md-3">
                    <label for="inputZip">Location</label>
                    @Html.DropDownList("CurrencyId", null, "Select All", htmlAttributes: new { @class = "form-control input-sm" })
                </div>

                <div class="form-group col-md-3">
                    <label for="inputZip">Search Supplier</label>

                    @Html.Editor("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Search Supplier Name..." } })
                </div>

                <div class="form-group col-md-3">
                    <label for="inputZip">Showing</label>
                    <input type="text" class="form-control input-sm" value="@ViewBag.PageSize" name="thepageSize" /> Records Per Page
                </div>

                <div class="form-group col-md-2">
                    <input type="submit" value="Filter" class="btn btn-info btn-sm" style="margin-top:25px;" />

                </div>

            </div>

        }

        <div class="row"></div>


    </div>
</div>
<br />


<p>
    <a href="@Url.Action("../Supplier/Create","Supplier")" class="btn btn-info btn-sm" role="button" aria-pressed="true">Register Supplier</a>

</p>
<table class="table  table-striped table-condensed  table-hover table-bordered">
    <tr>
        <th>
            @Html.ActionLink("Currency Name", "Index", new { sortOrder = ViewBag.CurrencyNameSorting, currentFilter = ViewBag.CurrentFilter })

            @*@Html.DisplayNameFor(model => model.Currency.CurrencyName)*@
        </th>
        <th>
            @Html.ActionLink("Supplier Name", "Index", new { sortOrder = ViewBag.SupplierNameSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            Supplier Telephone
        </th>
        <th>
            @Html.ActionLink("Supplier Email", "Index", new { sortOrder = ViewBag.SupplierEmailSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierTelephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-xs fa fa-list-alt " })
            </td>
        </tr>
    }

</table>


Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize }))
