﻿@model AssetMGT.Data.AssetIndicator

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<h3></h3>
<div>

    <div class="card text-center">
        <div class="card-header">
            <h4>Are you sure you want to delete this AssetIndicator ? </h4>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal">
                <dt>
                    AssetIndicator Name :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetIndicatorName)
                </dd>

            </dl>

        </div>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-footer text-muted">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Delete" class="btn btn-default btn-sm" />

                    <a href="@Url.Action("Index","AssetIndicator")" role="button" class="btn btn-primary btn-sm">Back To AssetClass List</a>

                </div>

                <div class="form-group col-md-3"></div>
            </div>
        }

    </div>
</div>
