﻿@model AssetMGT.Data.AssetIndicator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>

    <div class="card text-center">
        <div class="card-header">
            <h4>Details of Asset Indicators</h4>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    Asset Indicator :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetIndicatorName)
                </dd>

            </dl>
        </div>
        <div class="card-footer text-muted">
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-6">

                @Html.ActionLink("Edit", "Edit", new { id = Model.Id , Grouping = Model.Grouping } ,new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " }) |
                <a href="@Url.Action("Index","AssetIndicator",new { Grouping = ViewBag.Grouping}))" role="button" class="btn btn-primary btn-sm">Back To  List</a>

            </div>

            <div class="form-group col-md-3"></div>
        </div>
    </div>
    
</div>

