﻿@model AssetMGT.Data.AssetIndicator

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="card text-center">
        <div class="card-header">
            <h4>Edit the AssetClass</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.AssetIndicatorName, htmlAttributes: new { @class = "control-label col-md-4" })

                </div>
                <div class="form-group col-md-6">

                    @Html.EditorFor(model => model.AssetIndicatorName, new { htmlAttributes = new { @class = "form-control", required = true } })
                    @Html.ValidationMessageFor(model => model.AssetIndicatorName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @Html.HiddenFor(model=>model.Grouping)
        <div class="card-footer text-muted">
            <div class=" row">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Save" class="btn btn-default btn-sm" />

                    <a href="@Url.Action("Index","AssetIndicator",new { Grouping = ViewBag.Grouping})" role="button" class="btn btn-primary btn-sm">Back To List</a>

                </div>

                <div class="form-group col-md-3"></div>

            </div>
        </div>
    </div>

}


