﻿@model PagedList.IPagedList<AssetMGT.Data.AssetIndicator>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Registered Asset Indicators</h3>

<div class="card">
    <div class="card-header">
        <i class="fa fa-filter text-right" aria-hidden="true"></i>  Filters
    </div>
    <div class="card-body">
        @using (Html.BeginForm("../AssetIndicator/Index", "AssetIndicator", FormMethod.Get))
        {
            <div class="row">

               
                <input type="hidden" name="Grouping" value="@ViewBag.Grouping" />
                <div class="form-group col-md-3">
                    <label for="inputZip">Search an AssetIndicator</label>
                    @*Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)*@
                    @Html.Editor("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Search AssetIndicator..." } })
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Showing</label>
                    <input type="text" class="form-control input-sm" value="@ViewBag.PageSize" name="thepageSize" /> Records Per Page
                </div>
                <div class="form-group col-md-3">
                    <input type="submit" value="Filter" class="btn btn-info btn-sm" style="margin-top:25px;" />

                </div>


            </div>



        }

        <div class="row"></div>


    </div>
</div>
<br />

<p>
    <a href="@Url.Action("../AssetIndicator/Create","AssetIndicator", new { Grouping = ViewBag.Grouping } )" class="btn btn-info btn-sm" role="button" aria-pressed="true">Register AssetIndicator</a>

</p>
<table class="table table-striped table-condensed  table-hover table-bordered">
    <tr>
        <th>
            @Html.ActionLink("Asset Indicator", "Index", new { sortOrder = ViewBag.AssetIndicatorSorting, currentFilter = ViewBag.CurrentFilter, Grouping = ViewBag.Grouping })

        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetIndicatorName)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id, Grouping = item.Grouping }, new { @class = "btn btn-outline-primary btn-sm fa fa-pencil " })
                @Html.ActionLink("Details", "Details", new { id = item.Id, Grouping = item.Grouping }, new { @class = "btn btn-outline-warning btn-sm fa fa-list-alt " })
            </td>
        </tr>
    }

</table>

  Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize }))
