﻿@model PagedList.IPagedList<AssetMGT.Data.Transaction>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Database Transactions</h3>
<p><b>Showing The Latest Transactions on Top</b></p>

<div class="row mb-1">
    <div class="col-md-6">
        @using (Html.BeginForm("Index", "Transaction", FormMethod.Get))
        {
            @Html.Editor("SearchString", new { htmlAttributes = new { @class = "form-control input-sm col-md-4", @placeholder = "Search Action..." } })
            <input type="submit" value="Search Action" class="btn btn-primary btn-sm" style="margin-left:10px"/>

        }
    </div>
    

</div>
<br />
<div class="row">
    
    <div class="col-md-3">
        @using (Html.BeginForm("TransactionList", "Transaction", null, FormMethod.Post,
                                                                new { enctype = "multipart/form-data" }))
        {
            <input type="submit" value="Export to Excel" class="btn btn-success btn-sm" />

        }
    </div>

</div>
    
    <hr />
    <table class="table table-striped table-condensed table-hover table-bordered">
        <tr>

            <th> @Html.ActionLink("UserName", "Index", new { sortFormat = ViewBag.NameSorting })</th>

            <th>
                @Html.ActionLink("Date", "Index", new { sortFormat = ViewBag.DateSorting })
            </th>
            <th>
                Action
            </th>
            <th>
                Description
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormattedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

            </tr>
        }

    </table>
    <div class="row">
        <div class="col-md-12 text-left">
            Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortFormat = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
