﻿@model AssetMGT.Data.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>


    <div class="card text-center">
        <div class="card-header">
            <h4>Are you sure you want to delete this  Customer ?</h4>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerTelephone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerTelephone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerAddress)
                </dd>

            </dl>

        </div>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-footer text-muted">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Delete" class="btn btn-default btn-sm" />

                    <a href="@Url.Action("Index","Customer")" role="button" class="btn btn-primary btn-sm">Back To Customer List</a>

                </div>

                <div class="form-group col-md-3"></div>
            </div>
        }

    </div>


</div>
