﻿@model AssetMGT.Data.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>

    <div class="card text-center">
        <div class="card-header">
            <h4>Details of Customer</h4>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerTelephone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerTelephone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerAddress)
                </dd>

            </dl>
        </div>
        <div class="card-footer text-muted">
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-6">

                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " }) |
                <a href="@Url.Action("Index","Customer")" role="button" class="btn btn-primary btn-sm">Back To Customer List</a>

            </div>

            <div class="form-group col-md-3"></div>
        </div>
    </div>
    
</div>
