﻿@model AssetMGT.Data.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="card text-center">
            <div class="card-header">
                <h4>Edit the Customer</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group col-md-6">

                        @Html.LabelFor(model => model.CustomerTelephone, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.CustomerTelephone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerTelephone, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group ">
                        @Html.LabelFor(model => model.CustomerAddress, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CustomerEmail, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger" })

                    </div>



                </div>
            </div>

            <div class="card-footer text-muted">
                <div class=" row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col-md-6">
                        <input type="submit" value="Save" class="btn btn-default btn-sm" />

                        <a href="@Url.Action("Index","Customer")" role="button" class="btn btn-primary btn-sm">Back To Customer List</a>

                    </div>

                    <div class="form-group col-md-3"></div>

                </div>
            </div>
        </div>
    </div>

    
}


