﻿@model PagedList.IPagedList<AssetMGT.Data.Customer>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Registered Customers</h3>


<div class="card">
    <div class="card-header">
        <i class="fa fa-filter text-right" aria-hidden="true"></i>  Filters
    </div>
    <div class="card-body">
        @using (Html.BeginForm("../Customer/Index", "Customer", FormMethod.Get))
        {
            <div class="row">


                <div class="form-group col-md-3">
                    <label for="inputZip">Search Customer</label>
                    @*Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)*@
                    @Html.Editor("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Search Customer..." } })
                </div>

                <div class="form-group col-md-3">
                    <label for="inputZip">Showing</label>
                    <input type="text" class="form-control input-sm" value="@ViewBag.PageSize" name="thepageSize" /> Records Per Page
                </div>

                <div class="form-group col-md-3">
                    <input type="submit" value="Filter" class="btn btn-info btn-sm" style="margin-top:25px;" />

                </div>



            </div>



        }

        <div class="row"></div>


    </div>
</div>
<br />

<p>
    <a href="@Url.Action("../Customer/Create","Customer")" class="btn btn-info btn-sm" role="button" aria-pressed="true">Register Customer</a>

</p>

<table class="table table-striped table-condensed  table-hover table-bordered">
    <tr>
        <th>
            @Html.ActionLink("Customer Name", "Index", new { sortOrder = ViewBag.CustomerNameSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            Customer Telephone
        </th>
        <th>
            @Html.ActionLink("Customer Email", "Index", new { sortOrder = ViewBag.CustomerEmailSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            @Html.ActionLink("Customer Address", "Index", new { sortOrder = ViewBag.CustomerAddressSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerTelephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm fa fa-pencil " })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-sm fa fa-list-alt " })
            </td>
        </tr>
    }

</table>


  Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize }))