﻿@model AssetMGT.Data.Rolemodel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create Role</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Controllers", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table>
                    <tr>
                        <td>
                            <input type="checkbox" style="margin-right:5px;margin-left:5px;" onclick="toggle(this);" />
                            <b>Select All Controllers </b>
                        </td>
                    </tr>
                    <tr>
                        @{
                            int cnt = 0;
                            List<AssetMGT.ViewModels.AssignedControllerAction> roles = ViewBag.Roles;

                            foreach (var role in roles)
                            {
                                if (cnt++ % 4 == 0)
                                {
                                @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedControllers"
                                           style="margin-right:5px;margin-left:5px;"
                                           value="@role.ControllerActionId"
                                           @(Html.Raw(role.Assigned ? "checked=\"checked\"" : "")) />
                                    @role.ControllerName @:&nbsp;
                                    @role.ActionName

                                @:</td>
                            }
                        @: </tr>
                        }
                    </table>



                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

<div>
    <a href="@Url.Action("../RoleModel/Index","RoleModel")" class="btn btn-info btn-sm" role="button" aria-pressed="true">&laquo; Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        function toggle(source) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != source)
                    checkboxes[i].checked = source.checked;
            }
        }
    </script>

}
