﻿@model AssetMGT.Data.Rolemodel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>RoleModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RolemodelID)

    <div class="form-group">
        @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Roles", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <table>
                <tr>
                    @{
                        int cnt = 0;
                        List<AssetMGT.ViewModels.AssignedControllerAction> Controllers = ViewBag.Roles;

                        foreach (var controller in Controllers)
                        {
                            if (cnt++ % 4 == 0)
                            {
                            @:</tr><tr>
                            }
                            @:<td>
                                <input type="checkbox"
                                       name="selectedControllers"
                                       style="margin-right:5px;margin-left:5px;"
                                       value="@controller.ControllerActionId"
                                       @(Html.Raw(controller.Assigned ? "checked=\"checked\"" : "")) />
                                @controller.ControllerName @:&nbsp;
                                @controller.ActionName
                            @:</td>
                        }
                    @: </tr>
                    }
                </table>


            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
