﻿@model AssetMGT.ViewModels.UserIndexData

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Roles</h3>

<p>
    <a href="@Url.Action("../RoleModel/Create","RoleModel")" class="btn btn-info btn-sm" role="button" aria-pressed="true">Create Role</a>
</p>
<table class="table table-striped table-condensed table-hover table-bordered">
    <tr>
        <th>
            Role Name
        </th>
        <th>
           Controller - Action
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model.Roles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                
                <ul>
                    @{
                            

                        foreach (var singleItem in item.ControllerRoles)
                        {
                                
                            @:<li>
                                @singleItem.ControllersTable.ControllerName
                                @:&nbsp;
                                @singleItem.ControllersTable.ActionName

                            @:</li>
                        }
                    @: </ul>
                    }
                 
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RolemodelID }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " })
            </td>
        </tr>
    }

</table>
