﻿@model AssetMGT.Data.AssetClass

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<h3></h3>
<div>

    <div class="card text-center">
        <div class="card-header">
            <h4>Are you sure you want to delete this AssetClass ?</h4>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal text-left" style="margin-left:300px">
                <dt>
                    AssetClass Code :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetClassCode)
                </dd>

                <dt>
                    AssetClass Name :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetClassName)
                </dd>

                <dt>
                    AssetClass Status :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.assetClassStatus)
                </dd>

                <dt>
                  Depreciation Method :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepreciationMethod)
                </dd>

                <dt>
                 Depreciation Percentage :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepPercentage)
                </dd>

            </dl>

        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-footer text-muted">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Delete" class="btn btn-default btn-sm" />

                    <a href="@Url.Action("Index","AssetClass")" role="button" class="btn btn-primary btn-sm">&laquo; Back To AssetClass List</a>

                </div>

                <div class="form-group col-md-3"></div>
            </div>
        }

    </div>




 
</div>
