﻿@model AssetMGT.Data.AssetClass

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>
    <div class="card text-center">
        <div class="card-header">
            <h4>Details of AssetClass</h4>
        </div>
        <div class="card-body">
            <dl class="dl-horizontal text-left" style="margin-left:350px">
                <dt>
                    AssetClass Code :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetClassCode)
                </dd>

                <dt>
                    AssetClass Name :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetClassName)
                </dd>

                <dt>
                    AssetClass Status :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.assetClassStatus)
                </dd>

                <dt>
                    Depreciation Method :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepreciationMethod)
                </dd>

                <dt>
                    Depreciation Percentage :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepPercentage)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-muted">
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-6">

                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " }) |
                <a href="@Url.Action("Index","AssetClass")" role="button" class="btn btn-primary btn-sm">&laquo; Back To AssetClass List</a>

            </div>

            <div class="form-group col-md-3"></div>
        </div>
    </div>


</div>

