﻿@model AssetMGT.Data.AssetClass

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
   
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


<div class="card text-center">
    <div class="card-header">
        <h4>Edit the AssetClass</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.AssetClassCode, htmlAttributes: new { @class = "control-label col-md-4" })

                @Html.EditorFor(model => model.AssetClassCode, new { htmlAttributes = new { @class = "form-control", @readonly="true" } })
                @Html.ValidationMessageFor(model => model.AssetClassCode, "", new { @class = "text-danger" })
            </div>
            
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.AssetClassName, htmlAttributes: new { @class = "control-label col-md-4" })

                @Html.EditorFor(model => model.AssetClassName, new { htmlAttributes = new { @class = "form-control", required = true } })
                @Html.ValidationMessageFor(model => model.AssetClassName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.assetClassStatus, htmlAttributes: new { @class = "control-label col-md-4" })
                
                    @Html.EnumDropDownListFor(model => model.assetClassStatus, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.assetClassStatus, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.DepreciationMethod, htmlAttributes: new { @class = "control-label col-md-4" })
                
                    @Html.EnumDropDownListFor(model => model.DepreciationMethod, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DepreciationMethod, "", new { @class = "text-danger" })
                
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.DepPercentage, htmlAttributes: new { @class = "control-label col-md-4" })

                @*@Html.EnumDropDownListFor(model => model.DepPercentage, new { htmlAttributes = new { @class = "form-control", required = true } })*@
                @Html.Editor("DepPercentage", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepPercentage, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
            <div class="card-footer text-muted">
                <div class=" row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col-md-6">
                        <input type="submit" value="Save" class="btn btn-default btn-sm" />

                        <a href="@Url.Action("Index","AssetClass")" role="button" class="btn btn-primary btn-sm">Back To AssetClass List</a>

                    </div>

                    <div class="form-group col-md-3"></div>

                </div>
            </div>
</div>

</div>
}


