﻿@model PagedList.IPagedList<AssetMGT.Data.AssetClass>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Registered Asset Classes</h3>
<br />
<div class="card">
    <div class="card-header">
        <i class="fa fa-filter text-right" aria-hidden="true"></i>  Filters
    </div>
    <div class="card-body">
        @using (Html.BeginForm("../AssetClass/Index", "AssetClass", FormMethod.Get))
        {
        <div class="row">

            <div class="form-group col-md-3">
                <label for="inputZip">Asset Status</label>
                @Html.DropDownList("assetStatusId", null, htmlAttributes: new { @class = "form-control input-sm" })
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">Asset Class</label>
                @Html.DropDownList("assetClassId", null, "Select All", htmlAttributes: new { @class = "form-control input-sm" })

            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">Search Asset Class</label>
                @*Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)*@
                @Html.Editor("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Search Here..." } })
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">Showing</label>
                <input type="text" class="form-control input-sm" value="@ViewBag.PageSize" name="thepageSize" /> Records Per Page
            </div>
            <div class="form-group col-md-3">
                <input type="submit" value="Filter" class="btn btn-info btn-sm" style="margin-top:-10px;" />

            </div>
        </div>

        }
        
        <div class="row"></div>


    </div>
</div>
<br />

<p>
    <a href="@Url.Action("../AssetClass/Create","AssetClass")" class="btn btn-info btn-sm" role="button" aria-pressed="true">Register AssetClass</a>

</p>

<table class="table table-striped table-condensed  table-hover table-bordered">
    <tr>
        <th>
            @Html.ActionLink("Asset Class Code", "Index", new { sortOrder = ViewBag.ClassCodeSorting, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Class Name", "Index", new { sortOrder = ViewBag.NameSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            @Html.ActionLink("Dep Method", "Index", new { sortOrder = ViewBag.DepMethodSorting, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Dep %", "Index", new { sortOrder = ViewBag.DepPercentageSorting, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Class Status", "Index", new { sortOrder = ViewBag.ClassStatusSorting, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.AssetClassCode

            </td>
            <td>
                @item.AssetClassName
            </td>
            <td>
                @item.DepreciationMethod

            </td>

            <td>
                @item.DepPercentage
            </td>
            <td>
                @item.assetClassStatus
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm fa fa-pencil " })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-sm fa fa-list-alt " })
            </td>
        </tr>
    }

</table>

            Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize }))


