﻿
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Icon logo in the tab head-->
    <link rel="shortcut icon" href="~/Content/Images/DCLogo.png" />
    <!--Css-->

    <title>@ViewBag.Title - AssetMGT</title>
    <!--Font awesome-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="styleshet" type="text/css" media="screen and (max-device-width:480px)" href="~/Content/Site.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Site.css" />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';">

    <section class="bodySection">


        <div class="container-fluid topDivWithLogo">

            <div class="row">
                <div class="col-md-3">
                    <img src="~/Content/Images/DCLogo.png" alt="Site Logo" class="img-responsive logoImage" style="margin-top:20px" />
                </div>
                <div class="col-md-6 text-center">
                    <h1 class="text-info" style="font-family: 'Questrial', sans-serif;"><b>Asset MIS</b></h1>
                    <p><b>Making Asset Tracking Easy within DataCare (U) Ltd</b></p>
                </div>
                <div class="col-md-3" style="background-color:#ffffff;border-top-left-radius:6px;margin-top:75px;">
                    <span class="Welcome text-info" style="width:100%;height:30px">

                        @if (User.Identity.IsAuthenticated)
                        {
                            @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")
                        }

                        &nbsp; | &nbsp;
                        <i class="fa fa-power-off flex-item" style="margin:auto"></i>
                        @Html.ActionLink("Logout", "../Account/Logout", "Account", new { @style = "", @class = "flex-item" })
                    </span>
                </div>
            </div>

        </div>
        <div class="container-fluid body-content">



            <nav class="navbar navbar-expand-lg  navbar-blue secondNav mt-0">
                <a class="navbar-brand inNav" href="@Url.Action("../Home/Index","Home")" style="font-family: 'Questrial', sans-serif;color:#fff">AssetMGT </a>

                @*@Html.ActionLink("AssetMGT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand inNav" })*@
                <button class="navbar-toggler togglerButtonSecondNav" type="button" data-toggle="collapse" data-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <!--<span class="navbar-toggler-icon" style="color:white;"></span>-->

                    <i class="fa fa-navicon iconTogglerSecondNav"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown1">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("../Asset/Index","Asset", new { Grouping = AssetMGT.Data.EntityCategory.asset_subcategory})"><i class="fa fa-server fa-fw" aria-hidden="true"></i> Assets </a>
                        </li>


                        &nbsp; &nbsp;
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i> Settings
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border-bottom:6px solid #2790B0;border-top:1px solid #686464;background-color:#686464">
                                <a class="dropdown-item text-light" href="@Url.Action("../AssetClass/Index","AssetClass")">Asset Classes</a>
                                <a class="dropdown-item text-light" href="@Url.Action("../Currency/Index","Currency")">Currencies</a>
                                <a class="dropdown-item text-light" href="@Url.Action("../MaintenanceFrequency/Index","Maintenance Frequency")">Maintenance Freq</a>
                                <a class="dropdown-item text-light" href="@Url.Action("../AssetIndicator/Index","Asset Indicator", new { Grouping = AssetMGT.Data.EntityCategory.asset_indicator})">Asset Indicators</a>
                                <a class="dropdown-item text-light" href="@Url.Action("../AssetIndicator/Index","Asset Subcategory", new { Grouping = AssetMGT.Data.EntityCategory.asset_subcategory})">Asset Subcategories</a>
                                <a class="dropdown-item text-light" href="@Url.Action("../Employee/Index","Employee")">Employees</a>
                                <a class="dropdown-item text-light" href="@Url.Action("../Customer/Index","Customer")">Customers</a>
                                <a class="dropdown-item text-light" href="@Url.Action("../Supplier/Index","Supplier")">Suppliers</a>

                            </div>
                        </li>
                        &nbsp; &nbsp;

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-book" aria-hidden="true"></i> Reports
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border-bottom:6px solid #2790B0;border-top:1px solid #686464;background-color:#686464">

                                <a class="dropdown-item text-light" href="@Url.Action("../Asset/AssetReport","Asset", new { Grouping = AssetMGT.Data.EntityCategory.asset_subcategory })">Assets Report</a>
                                <!-- <a class="dropdown-item" href="@@Url.Action("../Depreciation/DepreciationDetails","Depreciation")">Depreciation Report</a>-->
                                <a class="dropdown-item text-light" href="@Url.Action("../Depreciation/DuplicateDetails","Depreciation")">Depreciation Report</a>

                            </div>
                        </li>

                        &nbsp; &nbsp;

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-lock" aria-hidden="true"></i> Security
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border-bottom:6px solid #2790B0;border-top:1px solid #686464;background-color:#686464">

                                <a class="dropdown-item text-light" href="@Url.Action("../User","User")">Users</a>
                                <!-- <a class="dropdown-item" href="@@Url.Action("../Depreciation/DepreciationDetails","Depreciation")">Depreciation Report</a>-->
                                <a class="dropdown-item text-light" href="@Url.Action("../RoleModel","RoleModel")">Roles</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>



        </div>
        <div class="container-fluid">

            <section class="mainSection">
                @RenderBody()
            </section>


        </div>
    </section>
    <footer>
        <p>
            AssetMGT &copy; @DateTime.Now.Year <a href="https://www.dcareug.com" class="footerLink">Data Care (U) LTD</a>
        </p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script>
    //*****Beginning of Logging out the user automatically incase of idle activity*********//
    $(function () {
        $("body").on('click keypress', function () {
            ResetThisSession();
        });
    });

    // session time out in seconds.
   var timeInSecondsAfterSessionOut = 600;
 
  
    var secondTick = 0;

    function ResetThisSession() {
        secondTick = 0;
    }

    function StartThisSessionTimer() {
        secondTick++;
        var timeLeft = ((timeInSecondsAfterSessionOut - secondTick) / 60).toFixed(0);//in minutes
        timeLeft = timeInSecondsAfterSessionOut - secondTick; 

        //if u want it to appear anywhere in the view
        $("#spanTimeLeft").html(timeLeft);

        if (secondTick > timeInSecondsAfterSessionOut) {
            clearTimeout(tick);
            window.location = "../Account/Logout";
            return;
        }
        tick = setTimeout("StartThisSessionTimer()", 1000);
    }
    StartThisSessionTimer();

    //*****End of Logging out the user automatically incase of idle activity*********//
</script>
</body>
</html>
