﻿
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Icon logo in the tab head-->
    <link rel="shortcut icon" href="~/Content/Images/DCLogo.png" />
    <!--Css-->

    <title>@ViewBag.Title - AssetMGT</title>
    <!--Font awesome-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="styleshet" type="text/css" media="screen and (max-device-width:480px)" href="~/Content/Site.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Site.css" />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <section class="bodySection">


        <div class="container-fluid topDivWithLogo">

            <div class="row">
                <div class="col-md-3">
                    <img src="~/Content/Images/DCLogo.png" alt="Site Logo" class="img-responsive logoImage" style="margin-top:20px" />
                </div>
                <div class="col-md-6 text-center">
                    <h1 class="text-info" style="font-family: 'Questrial', sans-serif;"><b>Asset MIS</b></h1>
                    <p><b>Making Asset Tracking Easy within DataCare (U) Ltd</b></p>
                </div>
            </div>

        </div>
        <div class="container-fluid body-content">


        </div>
        <div class="container-fluid">

            <section class="mainSection">
                @RenderBody()
            </section>


        </div>
    </section>
    <footer>
        <p>
            AssetMGT &copy; @DateTime.Now.Year <a href="https://www.dcareug.com" class="footerLink">Data Care (U) LTD</a>
        </p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
