﻿
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/UnauthorisedSharedView.cshtml";
}



@if (ViewBag.Confirmed != null)
{
    <h2>Email Confirmed</h2>

    <p>
        Your Email Has Been Confirmed. You can now Login to Asset MIS
        <a href="@Url.Action("../Account/Index","Account")" class="btn btn-warning btn-sm" role="button" aria-pressed="true">Using this Link</a>
    </p>
}
else
{
    <p>An activation code is required for this function. Contact the System Admin for assistance</p>
}
