﻿@model AssetMGT.Data.User
@*@model  AssetMGT.ViewModels.ResetPasswordViewModel *@

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/UnauthorisedSharedView.cshtml";
}

<h4>Forgot Password</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <p>Please enter your Email Address to get an account recovery link. </p>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


   @if (ViewBag.error != null)
    {

        <div class="alert alert-warning" role="alert">
            @ViewBag.error

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    @ViewBag.ResetEmailMessage

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
</div>
