﻿@model AssetMGT.Data.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE =edge">
    <meta name="viewport" content="width =device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Login</title>

</head>
<body>
    <div class="container loginAndRegister" style="margin-top:10px;">

        <div class="card" id="OverallCard">
            <div class="card-header bg-info text-white">
                <center><b> Asset Management Information System</b></center>
            </div>
            <div class="card-body">
                <div id="myContent">

                    <div id="column_with_Logo">
                        <center>
                            <div class="card text-center" id="cardAroundLogoImage">
                                <center><img class="card-img-top" src="~/Content/Images/logo.jpeg" alt="Card image cap" id="theLogo" /></center>

                                <div class="card-body">
                                    <h5 class="card-title">Instructions</h5>

                                    <div class="alert alert-info" role="alert">
                                        <p class="card-text">Please use your <b>Email Address</b> and <b>your Password</b> to login. If you don't have these credentilas, kindly contact the system administrator. <br /><b>Thank You</b></p>

                                    </div>
                                </div>

                            </div>


                        </center>

                    </div>


                    <div id="secondColumn">
                        <div class="container" id="login_part">

                            @if (ViewBag.error != null)
                            {

                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.error

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            <h3>LOGIN</h3>

                            @using (Html.BeginForm("Login", "Account", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
                            {
                            <div class="form-horizontal">

                                @if (ViewBag.Activation != null)
                                {
                                    <div class="alert alert-success alert-dismissable fade show" role="alert" style="height:120px;">
                                        @ViewBag.Activation
                                        <br />
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                }

                                <div class="form-group">
                                    <b>Email</b>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", required = "true" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    <b>Password</b>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Enter Password", name = "password", required = "true" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                </div>
                                @*@if (ViewBag.error != null)
                                    {
                                        <span class="badge badge-danger">@ViewBag.error</span><br />
                                    }*@


                                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
                                <br /><br />
                                <button type="submit" class="btn btn-info">Log in</button><br />



                            </div>
                            }
                        </div>
                    </div>

                </div>

            </div>
            <div class="card-footer text-muted">
                &copy; @DateTime.Now.Year Data Care (U) Limited
            </div>
        </div>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
