﻿@model AssetMGT.Data.User

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE =edge">
    <meta name="viewport" content="width =device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Register</title>

</head>
<body>
    <div class="container loginAndRegister"  style="margin-top:10px;">

        <div class="card" id="OverallCard">
            <div class="card-header bg-info text-white">
                <center><b> Asset Management Information System</b></center>
            </div>
            <div class="card-body">
                <div id="myContent">

                    <div id="column_with_LogoRegister">
                        <center>
                            <div class="card text-center" id="cardAroundLogoImage">
                                <center><img class="card-img-top" src="~/Content/Images/logo.jpeg" alt="Card image cap" id="theLogo" /></center>

                                <div class="card-body">
                                    <h5 class="card-title">Instructions</h5>

                                    <div class="alert alert-info" role="alert">
                                        <p class="card-text">Simply Enter your details to create your account <br /><b>Thank You</b></p>

                                    </div>
                                </div>

                            </div>


                        </center>

                    </div>


                    <div id="secondColumnRegister">
                        <div class="container" id="login_partRegister">
                            <h3>Register</h3>
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role="form"}))
                            {
                                @Html.AntiForgeryToken()
                        <form>
                           

                            <div class="form-group">
                                <b>Name</b>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Full Name" } })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "badge badge-danger" })
                            </div>


                                    <div class="form-group">
                                        <b>Email</b>
                                        @Html.EditorFor(model => model.Email, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email", type = "Email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "badge badge-danger" })
                                        @if (ViewBag.Error != null)
                                        {
                                            <span class="badge badge-danger">@ViewBag.Error</span>
                                        }
                                    </div>

                                    <div class="form-group">
                                        <b>Password</b>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "badge badge-danger" })
                                    </div>


                                    <div class="form-group">
                                        <b>Confirm Password</b>
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confim Password" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "badge badge-danger" })
                                    </div>


                                    <button type="submit" class="btn btn-info">Register</button><br />

                                    Have an account?

                            @Html.ActionLink("Login Here", "Index", "Account")

                        </form>
                            }

                        </div>
                    </div>

                </div>

            </div>
            <div class="card-footer text-muted">
                &copy; @DateTime.Now.Year Data Care (U) Limited
            </div>
        </div>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
