﻿@model AssetMGT.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/UnauthorisedSharedView.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Reset Password</h4>


    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (ViewBag.ErrorMessages != null)
    {
        <p>User Id or Password reset Code are not valid. Please contact the administrator</p>
    }


    @if (ViewBag.error != null)
    {

        <div class="alert alert-warning" role="alert">
            @ViewBag.error

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if (ViewBag.ErrorMessage != null)
    {
        <p>@ViewBag.ErrorMessage. Please contact the administrator</p>
    }


    @if (ViewBag.Message != null)
    {
        <div class="row">
            <div class="form-group col-md-6">
                <div class="control-label col-md-4"><b>Email</b></div>

                @Html.Raw(Model.Email)

                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "badge badge-danger" })

                



            </div>
        </div>
    }

        @if (ViewBag.Message != null)
        {
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="control-label col-md-4"><b>Password</b></div>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Enter Password", name = "password" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="control-label col-md-4"><b>Confirm Password</b></div>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Confirm Password", name = "password" } })
                </div>
                <div class="form-group col-md-6"></div>
            </div>


            <div class="form-group">
                <div class=" col-md-2">

                </div>
                <div class="col-md-4">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <a href="@Url.Action("Index", "Account")" role="button" class="btn btn-primary btn-sm">&laquo; Back To Login</a>
                </div>

                <div class="col-md-6"></div>
            </div>

        }
    </div>
}


