﻿@{
    ViewBag.Title = "UnAuthorised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="alert alert-danger" role="alert">
    <h1>Error 403 - Unauthorised Access!!!!!</h1>
    <p>Sorry, you are not authorised to view the page you have requested for</p>
</div>

<br />
<a href="@Url.Action("../Home/Index","Home")" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="margin-left:6px">&laquo; Go To Home Page</a>


