﻿@model AssetMGT.Data.Currency

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <div class="card text-center">
        <div class="card-header">
            <h4>Edit the Currency</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.CurrencyName, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.CurrencyName, new { htmlAttributes = new { @class = "form-control", required = true } })
                    @Html.ValidationMessageFor(model => model.CurrencyName, "", new { @class = "text-danger" })


                </div>
                <div class="form-group col-md-6">

                    @Html.LabelFor(model => model.CurrencyCode, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.CurrencyCode, new { htmlAttributes = new { @class = "form-control", required = true } })
                    @Html.ValidationMessageFor(model => model.CurrencyCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-4" })

                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", required = true } })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-3"></div>

            </div>
        </div>

        <div class="card-footer text-muted">
            <div class=" row">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Save" class="btn btn-default btn-sm" />

                    <a href="@Url.Action("Index","Currency")" role="button" class="btn btn-primary btn-sm">Back To Currency List</a>

                </div>

                <div class="form-group col-md-3"></div>

            </div>
        </div>
    </div>
 </div>

}


