﻿@model PagedList.IPagedList<AssetMGT.Data.Currency>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Registered Currencies</h3>

<div class="card">
    <div class="card-header">
        <i class="fa fa-filter text-right" aria-hidden="true"></i>  Filters
    </div>
    <div class="card-body">
        @using (Html.BeginForm("../Currency/Index", "Currency", FormMethod.Get))
        {
            <div class="row">


                <div class="form-group col-md-3">
                    <label for="inputZip">Search Currency Name</label>
                    @*Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)*@
                    @Html.Editor("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Search Currency Name..." } })
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Showing</label>
                    <input type="text" class="form-control input-sm" value="@ViewBag.PageSize" name="thepageSize" /> Records Per Page
                </div>
                <div class="form-group col-md-3">
                    <input type="submit" value="Filter" class="btn btn-info btn-sm" style="margin-top:25px;" />

                </div>
            </div>

        }

        <div class="row"></div>


    </div>
</div>
<br />

<p>
    <a href="@Url.Action("../Currency/Create","Currency")" class="btn btn-info btn-sm" role="button" aria-pressed="true">Register Currency</a>

</p>



<table class="table table-striped table-condensed  table-hover table-bordered">
    <tr>
        <th>
            @Html.ActionLink("Currency Name", "Index", new { sortOrder = ViewBag.CurrencyNameSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            @Html.ActionLink("Currency Code", "Index", new { sortOrder = ViewBag.CurrencyCodeSorting, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.CountrySorting, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm fa fa-pencil " })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-sm fa fa-list-alt " })
            </td>
        </tr>
    }

</table>

  Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize }))