﻿body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    padding: 0px 100px;
}

.theMoney{
    text-align: right;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*============Layout==================*/


/* The top nav */

.navbar-blue {
    background: #2790b0;
    height: 10px;
    border-bottom:5px red;
}

    .navbar-blue .navbar-brand {
        color: #f1f1f1;
    }

    .navbar-blue .navbar-nav > li > a {
        color: #fff;
    }

        .navbar-blue .navbar-nav > li > a:hover, .navbar-blue .navbar-nav > li > a:focus {
            color: #fff;
            background-color: #2790b0;
        }

    .navbar-blue .navbar-nav > .active > a,
    .navbar-blue .navbar-nav > .active > a:hover,
    .navbar-blue .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #2790b0;
    }

.navbar-brand {
    font-size: 24px;
}



.logo {
   padding-top:0%;
}

.logoImage {
    height: 60px;
    width: 90px;
}

.Title {
  color:#2790b0;
    font-weight:bold;
    font-size:20px; 
    padding:2%;
    margin-left:10%;
}

.LogOff {
    margin-top: 1%;
    margin-left: 20%;
    color: #2790b0;
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

.LogOff:hover{
    text-decoration:none;
    color:#0026ff;
}

.Welcome {
    color: black;
    padding-right:3px;
}

.flex-container {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.togglerButtonFirstNav {
    background-color: #2790b0;
}

.iconTogglerFirstNav {
    color: white;
    font-size: 28px;
}

.secondNav {
    margin-top: 1%;
    background-color: #2790b0;
    border: 0px;
}

.togglerButtonSecondNav {
    background-color: #2790b0;
    border:1px solid white;
}

iconTogglerSecondNav {
    color: white;
    font-size: 28px;
}
.ui-datepicker-trigger {
    margin-left: 180px;
    margin-top: 5px;
}
footer {
    background-color: #2790B0;
    color: white;
    padding: 13px;
    font-size: 10px;
    margin-bottom: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.footerLink {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

    .footerLink:hover {
        background-color: dimgrey;
        color: white;
    }


/*
@media screen and (min-width: 348px) {
    .Title {
        color: #2790b0;
        font-weight: bold;
        font-size: 20px;
        padding: 25px 10px;
        margin-left: 200px;
    }

    }

@media screen and (max-width:1198px) {
    .Title {
        color: #2790b0;
        font-weight: bold;
        font-size: 20px;
        padding: 25px 10px;
        margin-left: 100px;
    }


 }

@media screen and (max-width:982px) {
    .Title {
        color: #2790b0;
        font-weight: bold;
        font-size: 20px;
        padding: 25px 10px;
        margin-left: 100px;
    }
}*/

/*Login page css*/
.Logindiv {
    margin-top:-100px !important;
}
#OverallCard {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    
}

#theLogo{
    width   :70%;
}

@media screen and (max-width:425px) {
    /* CSS for screens that are 425 pixels or less will be put in this section */
    #secondColumn {
        margin-left: -50%;
        width: 100%;
        margin-top: 500px;
    }
    #column_with_Logo {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        margin-right: -50%;
    }
    body {
        /*padding-top: 50px;*/
        padding-bottom: 20px;
        padding: 0px 0px;
    }

    .loginAndRegister {
        width: 100%;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px !important;
    }

    /*Register screen*/
    #column_with_LogoRegister {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        margin-right: -50%;
    }

    #secondColumnRegister {
        margin-left: -50%;
        width: 100%;
        margin-top: 480px;
    }

    .mainSection {
        box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0px;
        padding: 5px !important;
        background-color: #fff;
        margin-bottom: 10px !important;
    }

}


/*CSS for screens bigger than 426px*/
@media screen and (min-width:426px) {
    #login_part {
        border: 1px solid #c4c2c2;
        margin-left: -15px;
        padding: 20px 20px;
        border-radius: 1% 7% 7% 1%;

    }
    #login_partRegister {
        border: 1px solid #c4c2c2;
        margin-left: -15px;
        padding: 20px 20px;
        border-radius: 7% 7% 7% 7%;
    }

    #column_with_Logo {
        text-align: center;
        vertical-align: middle;
        width: 30%;
        float: left;


    }


    #cardAroundLogoImage {
        border-width: 1px thin;
        border-radius: 5%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }

    #secondColumn {
        float: left;
        margin-top: 3.7%;
        margin-left: 1%;
        width: 30%;
    }

    #secondColumnRegister {
        float: left;
        margin-left: 1%;
        width: 30%;
    }

    #column_with_LogoRegister {
        text-align: center;
        vertical-align: middle;
        width: 28%;
        float: left;
        margin-top:3.5%
    }
}

#myContent {
    display: flex;
    justify-content: center;
}

.img-fluid {
    height:100%;
    width:100%;
}

.bodySection {
    background-color: aliceblue;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.topDivWithLogo {
    margin-bottom: 2%;
    background-image: url(../Content/Images/cloudsa.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300%;
    border-bottom:4px solid #2790b0
    
    /* margin-top: 2%; */
    /* width: 82.5%; */
    /* border-radius: 5px;*/
}

.mainSection {
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    padding: 20px;
    background-color:#fff;
    margin-bottom: 20px;
}

.homePage{
    background-color:#fff
}

.dropdown-item:hover {
    text-align: inherit;
    white-space: nowrap;
    color: #fff;
    padding-left:-0.05px;
    border-right: 5px solid #2790B0;
    background-color: #000;
}



