﻿@model AssetMGT.Data.Depreciation

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

         <div class="card text-center">
                <div class="card-header">
                    <h4>Register a New Depreciation</h4>
                </div>

                <div class="card-body">


                     <div class=" row">

                    <div class="form-group col-md-6">
                        @Html.HiddenFor(model => model.DepreciationMethod, new { Value = "Active" })
                        @Html.LabelFor(model => model.DepreciationMethod, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.DepreciationMethod, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DepreciationMethod, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.salvageValue, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.salvageValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.salvageValue, "", new { @class = "text-danger" })

                    </div>

                </div>


                <div class=" row">

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CurrencyId, "CurrencyId", htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.DropDownList("CurrencyId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CurrencyId, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetId, "AssetId", htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.DropDownList("AssetId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })

                    </div>

                </div>





        </div>




        <div class="card-footer text-muted">


            <div class=" row">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Create" class="btn btn-success btn-sm" />

                    <a href="@Url.Action("Index","Depreciation")" role="button" class="btn btn-primary btn-sm">Back To Depreciation List</a>

                </div>

                <div class="form-group col-md-3"></div>

            </div>


        </div>
    </div>


        
        </div>
    

}


