﻿@model AssetMGT.Data.Depreciation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<h3></h3>
<div>

    <div class="card text-center">
        <div class="card-header">
            <h4>Are you sure you want to delete this Depreciation ?</h4>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Asset.AssetCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Asset.AssetCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Currency.CurrencyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Currency.CurrencyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepreciationMethod)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepreciationMethod)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepreciationPercentage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepreciationPercentage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.salvageValue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.salvageValue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepreciationValue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepreciationValue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NetbookValue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NetbookValue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepreciationPeriod)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepreciationPeriod)
                </dd>

            </dl>

        </div>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-footer text-muted">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Delete" class="btn btn-default btn-sm" />

                    <a href="@Url.Action("Index","Depreciation")" role="button" class="btn btn-primary btn-sm">Back To Depreciation List</a>

                </div>

                <div class="form-group col-md-3"></div>
            </div>
        }

    </div>



 
</div>
