﻿@model AssetMGT.ViewModels.DepreciationDetailsViewModel

@{
    ViewBag.Title = "Depreciation Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Depreciation Report</h4>

<div class="row mb-2">
    @using (Html.BeginForm("DepreciationDetails", "Depreciation", FormMethod.Get))
    {
        <div class="col-md-12 text-left" style="display:flex;">

            <div class="form-group mr-3">
                <label for="inputState">Asset Class</label><br />
                @*@Html.TextBox("SearchString")*@
                @Html.DropDownList("AssetClassId", null, htmlAttributes: new { @class = "form-control input-sm", required = "true" })
            </div>
            <div class="form-group mr-3">
                <label for="inputState">Choose Monthly/Yearly</label>
                <select id="timefreq" class="form-control input-sm" name="timefreq" required>
                    <option value="Yearly">Yearly</option>
                    <option value="Monthly">Monthly</option>

                </select>
            </div>

            <div class="form-group ">
                <label for="inputZip">Enter Year</label>
                <input type="text" class="form-control input-sm" id="Year" name="YearEntered" placeholder="Eg 2014">
            </div>

            <div class="form-group ml-3">
                <label for="inputZip">Search asset</label>
                <input type="text" class="form-control input-sm" id="Year" name="searchString" placeholder="Search Asset...">
            </div>

            <div class="form-group">
                <input type="submit" value="Filter" style="margin-left:10px;margin-top:25px;width:80px;height:30px;" class="btn btn-primary btn-xm" />

            </div>

        </div>
    }
</div>

@if (Model.Assets == null)
{
<section id="yearTable">

    <div class="row mb-2">

        <div class="col-md-12 text-left" style="display:flex;">

            <!--***********************************The export yearly function**************************************-->

            @using (Html.BeginForm("DepList", "Depreciation", null, FormMethod.Post,
                                                                  new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" value="@ViewBag.assetClassFilter" name="classFilter" />
                <input type="submit" value="Export to Excel" class="btn btn-success btn-sm" />

            }
        </div>

    </div>
    <hr />
    <h5> <b>Annual Depreciation Report</b></h5>
    <table class="table table-striped table-condensed  table-hover table-bordered table-responsive">
        @if(Model.AssetRegisterings.Count != 0)
        {

        <tr>
            <th></th>
            <th></th>
            @{
                int minimum = int.MaxValue;
            }
            @foreach (var year in Model.AssetRegisterings)
            {

                int dateStart = year.AssetPurchaseDate.Year;
                int TodayDate = DateTime.Now.Year;

                minimum = Math.Min(minimum, dateStart);
            }

            @{
                int myminimum = int.MaxValue;

                int mydateStart = minimum;
                int myTodayDate = DateTime.Now.Year;

                myminimum = Math.Min(myminimum, mydateStart);

                for (int count = myminimum; count < myTodayDate; count++)
                {

                    <th colspan="2">Year: @count</th>
                }
            }

        </tr>
        <tr>
            <th>Asset Name</th>
            <th>Dep %</th>

            @{
                int newminimum = int.MaxValue;

                int thisdateStart = minimum;
                int thisTodayDate = DateTime.Now.Year;

                newminimum = Math.Min(newminimum, thisdateStart);


                for (int count = (newminimum + 1); count <= myTodayDate; count++)
                {

                    <th>Dep Amount</th>
                    <th>NetBook Value</th>
                }

            }

        </tr>

        foreach (var asset in Model.AssetRegisterings)
        {

            <tr>
                <td>@asset.AssetName</td>
                <td>@asset.DepreciationPercentage</td>
                @{
                    int finaldateStart = asset.AssetPurchaseDate.Year;
                    int finalTodayDate = DateTime.Now.Year;


                    //  minimum = Math.Min(minimum, finaldateStart);
                }

                @foreach (var deprec in asset.AssetDepreciatings)
                {



                    <td>@deprec.DepreciationAmount</td>
                    <td>@deprec.NetBookValue</td>


                }
            </tr>
        }


                    }

    </table>

</section>
}

else if (Model.Assets != null)
{
<section id="MonthlyTable">
    <div class="row mb-2">

        <div class="col-md-12 text-left" style="display:flex;">

            <!--***********************************The export Monthly function**************************************-->

            @using (Html.BeginForm("DepMonthlyList", "Depreciation", null, FormMethod.Post,
                                                                  new { enctype = "multipart/form-data" }))
            {

                <input type="hidden" value="@ViewBag.assetClassFilter" name="classFilter" />
                <input type="hidden" value="@ViewBag.SearchedItem" name="SearchedItemFilter" />
                <input type="hidden" value="@ViewBag.Year" name="YearFilter" />
                <input type="submit" value="Export to Excel" class="btn btn-success btn-sm" />

            }
        </div>

    </div>
    <hr />
    <h5><b>Monthly Report in @ViewBag.Year</b></h5>


    <table class="table table-striped table-condensed table-hover table-bordered table-responsive" border="1">

        <tr>
            <th></th>
            <th></th>

            @for (int count = 1; count <= 12; count++)
            {
                <th colspan="2">Month: @count</th>
            }

        </tr>
        <tr>
            <th>Asset Name</th>
            <th>Dep %</th>
            @for (int count = 1; count <= 12; count++)
            {

                <th>Dep Amount</th>
                <th>NetBook Value</th>
            }

        </tr>
        @foreach (var item in Model.Assets)
        {
            <tr>
                <td style="width:600px">@item.AssetName</td>
                <td>@item.DepPercentage</td>
                @for (int c = 1; c <= 12; c++)
                {
                    int myItemDepreciation = Convert.ToInt32(item.DepAmount) / 12;
                    int myItemNetbookvalue = Convert.ToInt32(item.GrossAmount) / 12;
                    <td>@myItemDepreciation</td>
                    <td>@myItemNetbookvalue</td>
                }



            </tr>
        }

    </table>

</section>
}

@if (ViewBag.isMonthly == true)
{
    <script>
        //Hide or show the table of Depreciations

        $("#yearTable").hide();
        $("#MonthlyTable").show();
        $('#timefreq').val('Monthly');
    </script>
}
else
{
    <script>
        //Hide or show the table of Depreciations


        $(document).ready(function () {
            $("#MonthlyTable").hide();
            $("#yearTable").show();
        });

    </script>
}

