﻿@model AssetMGT.ViewModels.DepreciationDetailsViewModel

@{
    ViewBag.Title = "Depreciation Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12" style="display:block;">
        <h4>Depreciation Report</h4>
        <div class="card">
            <div class="card-header">
                <i class="fa fa-filter text-right" aria-hidden="true"></i> Filters


            </div>
            <div class="card-body">
                @using (Html.BeginForm("DuplicateDetails", "Depreciation", FormMethod.Get))
                {
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="inputState">Asset Class</label><br />
                        @Html.DropDownList("AssetClassId", null, htmlAttributes: new { @class = "form-control input-sm", required = "true" })
                    </div>

                    <div class="form-group col-md-3">
                        <label for="inputState">Choose Monthly/Yearly</label>
                        <select id="timefreq" class="form-control input-sm" name="timefreq" required>
                            <option value="Yearly">Yearly</option>
                            <option value="Monthly">Monthly</option>

                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="inputZip">Select Year</label>
                        @Html.DropDownList("yearEntered", null, htmlAttributes: new { @class = "form-control input-sm" })

                        <input type="text" class="form-control input-sm" id="myYearEntered" name="textyearEntered" placeholder="Eg 2014">
                    </div>

                    <div class="form-group ml-3">
                        <label for="inputZip">Search asset</label>
                        <input type="text" class="form-control input-sm" id="Year" name="searchString" placeholder="Search Asset...">
                    </div>

                    <div class="form-group col-md-3">
                        <input type="submit" value="Filter" class="btn btn-info btn-sm" style="margin-top:0px;" />

                    </div>
                </div>

                }


            </div>
        </div>
        <br />
        

    </div>
</div>

@if (Model.Assets == null)
{
<section id="yearTable">

    <div class="row mb-2">

        <div class="col-md-12 text-left" style="display:flex;">

            <!--***********************************The export yearly function**************************************-->

            @using (Html.BeginForm("DepList", "Depreciation", null, FormMethod.Post,
                                                                  new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" class="form-control input-sm" name="yearEntered" value="@ViewBag.enteredYear">

                <input type="submit" value="Export to Excel" class="btn btn-success btn-sm" />

            }
        </div>

    </div>
    <h5> <b>Annual Depreciation Report</b></h5>
    <table class="table table-striped table-condensed  table-hover table-bordered table-responsive">
        @if(Model.AssetRegisterings.Count != 0)
        {

        <tr>
            <th></th>
            <th></th>
            @{
                int minimum = int.MaxValue;
            }
            @foreach (var year in Model.AssetRegisterings)
            {

                int dateStart = ViewBag.enteredYear;
                int TodayDate = DateTime.Now.Year;

                minimum = Math.Min(minimum, dateStart);
            }

            @{
                int myminimum = int.MaxValue;

                int mydateStart = minimum;
                int myTodayDate = DateTime.Now.Year;

                myminimum = Math.Min(myminimum, mydateStart);

                for (int count = myminimum; count < myTodayDate; count++)
                {

                    <th colspan="3">Year: @count</th>
                }
            }

        </tr>
        <tr>
            <th>Asset Name</th>
            <th>Dep %</th>

            @{
                int newminimum = int.MaxValue;

                int thisdateStart = minimum;
                int thisTodayDate = DateTime.Now.Year;

                newminimum = Math.Min(newminimum, thisdateStart);


                for (int count = (newminimum + 1); count <= myTodayDate; count++)
                {

                    <th>Dep Amount</th>
                    <th>Accumulated Depreciation</th>
                    <th>NetBook Value</th>
                }

            }

        </tr>

        foreach (var asset in Model.AssetRegisterings)
        {

        <tr>
            <td>@asset.AssetName</td>
            <td>@asset.DepreciationPercentage</td>
            @{
                int finaldateStart = asset.StartDepreciationDate.Year;
                int finalTodayDate = DateTime.Now.Year;

                //  minimum = Math.Min(minimum, finaldateStart);
            }

            @foreach (var deprec in asset.AssetDepreciatings)
            {
                string a = string.Format("{0:n0}", deprec.DepreciationAmount);
                string b = string.Format("{0:n0}", deprec.AccumulatedDepreciation);
                string c = string.Format("{0:n0}", deprec.NetBookValue);

                <td>@a</td>
                <td>@b</td>
                <td>@c</td>


            }
        </tr>
        }


                    }

    </table>

</section>
                    }


                    else if (Model.Assets != null)
                    {
<section id="MonthlyTable">
    <div class="row mb-2">

        <div class="col-md-12 text-left" style="display:flex;">

            <!--***********************************The export Monthly function**************************************-->

            @using (Html.BeginForm("DepMonthlyList", "Depreciation", null, FormMethod.Post,
                                                                  new { enctype = "multipart/form-data" }))
            {

                <input type="hidden" value="@ViewBag.assetClassFilter" name="classFilter" />
                <input type="hidden" value="@ViewBag.SearchedItem" name="SearchedItemFilter" />
                <input type="hidden" value="@ViewBag.Year" name="YearFilter" />
                <input type="submit" value="Export to Excel" class="btn btn-success btn-sm" />

            }
        </div>

    </div>
    <h5><b>Monthly Report in @ViewBag.Year</b></h5>


    <table class="table table-striped table-condensed table-hover table-bordered table-responsive" border="1">

        <tr>
            <th></th>
            <th></th>

            @for (int count = 1; count <= 12; count++)
            {
                <th colspan="3">Month: @count</th>
            }

        </tr>
        <tr>
            <th>Asset Name</th>
            <th>Dep %</th>
            @for (int count = 1; count <= 12; count++)
            {

                <th>Dep Amount</th>
                <th>Accumulated Depreciation</th>
                <th>NetBook Value</th>
            }

        </tr>
        @foreach (var item in Model.Assets)
        {
        <tr>
            <td style="width:600px">@item.AssetName</td>
            <td>@item.DepPercentage</td>
            @for (int c = 1; c <= 12; c++)
            {
                int myItemDepreciation = Convert.ToInt32(item.DepAmount) / 12;
                int myItemNetbookvalue = Convert.ToInt32(item.GrossAmount) / 12;
                int myAccumulatedDep = Convert.ToInt32(item.AccumulatedDepAmount) / 12;

                string a = string.Format("{0:n0}", myItemDepreciation);
                string b = string.Format("{0:n0}", myItemNetbookvalue);
                string d = string.Format("{0:n0}", myAccumulatedDep);

                <td>@a</td>
                <td>@b</td>
                <td>@d</td>
            }



        </tr>
        }

    </table>

</section>
}

@if (ViewBag.isMonthly == true)
{
    <script>
        //Hide or show the table of Depreciations

        $("#yearTable").hide();
        $("#MonthlyTable").show();
        $("#yearEntered").hide();
        $("#myYearEntered").show();
        $('#timefreq').val('Monthly');
    </script>
}
else
{
    <script>
        //Hide or show the table of Depreciations


        $(document).ready(function () {
            $("#MonthlyTable").hide();
            $("#yearTable").show();
            $("#yearEntered").show();
            $("#myYearEntered").hide();
        });

    </script>
}

