﻿@model IEnumerable<AssetMGT.Data.Depreciation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Registered Depreciations</h3>

<p>
    <a href="@Url.Action("../Depreciation/Create","Depreciation")" class="btn btn-info btn-sm" role="button" aria-pressed="true">Register Depreciation</a>

</p>
<table class="table table-striped table-condensed  table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asset.AssetName)
        </th>
        <th>
          Currency
        </th>
       
        <th>
           Depreciation %
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salvageValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepreciationValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetbookValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepreciationPeriod)
        </th>
        <th>Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asset.AssetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.DepreciationPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salvageValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepreciationValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetbookValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepreciationPeriod)
        </td>
        <td>
        
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " })
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-xs fa fa-list-alt " })
        
        </td>
    </tr>
}

</table>
