﻿@model AssetMGT.Data.ControllersTable

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ControllersTable</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ControllerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.ControllerName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ControllerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActionName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.ActionName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActionName, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">
        @Html.Label("Roles", htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-10">
                 <table>
                     <tr>
                         @{
                             int cnt = 0;
                             List<AssetMGT.ViewModels.AssignedRoleData> roles = ViewBag.Roles;

                             foreach (var role in roles)
                             {
                                 if (cnt++ % 4 == 0)
                                 {
                                 @:</tr><tr>
                                 }
                                 @:<td>
                                     <input type="checkbox"
                                            name="selectedRoles"
                                            style="margin-right:5px;margin-left:5px;"
                                            value="@role.RoleId"
                                            @(Html.Raw(role.Assigned ? "checked=\"checked\"" : "")) />
                                     @role.RoleName
                                 @:</td>
                             }
                         @: </tr>
                         }
                     </table>



                 </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
