﻿@model AssetMGT.Data.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit User</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Email)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Roles", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <table>
                <tr>
                    @{
                        int cnt = 0;
                        List<AssetMGT.ViewModels.AssignedRoleData> roles = ViewBag.Roles;

                        foreach (var role in roles)
                        {
                            if (cnt++ % 4 == 0)
                            {
                            @:</tr><tr>
                            }
                            @:<td>
                                <input type="checkbox"
                                       name="selectedRoles"
                                       style="margin-right:5px;margin-left:5px;"
                                       value="@role.RoleId"
                                       @(Html.Raw(role.Assigned ? "checked=\"checked\"" : "")) />
                                @role.RoleName
                            @:</td>
                        }
                    @: </tr>
                    }
                </table>


            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

<div>
    <a href="@Url.Action("../User/Index","User")" class="btn btn-info btn-sm" role="button" aria-pressed="true">&laquo; Back to List</a>
</div>
