﻿@model AssetMGT.ViewModels.UserIndexData

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Users and Roles</h3>

<p>
   
    <a href="@Url.Action("../User/Create","User")" class="btn btn-info btn-sm" role="button" aria-pressed="true">Create User</a>

</p>
<table  class="table table-striped table-condensed table-hover table-bordered">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Roles
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Users)
    {
    <tr>
        <td>

            @item.Name

        </td>
        <td>

            @item.Email

        </td>
        <td>
           @foreach(var singleItem in item.UserRoles)
           {
               @singleItem.Rolemodel.RoleName
              @:<br />
           }
        </td>
        <td>
            @Html.ActionLink("Modify Roles", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " }) 

        </td>
    </tr>
    }
</table>
