﻿@model PagedList.IPagedList<AssetMGT.Data.Asset>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Asset Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .theMoney {
        text-align: right;
    }
</style>

<div class="row">
    <div class="col-md-12" style="display:block;">
        <h4>Asset Report</h4>
        <div class="card">
            <div class="card-header">
                <div class="row" id="toggleFilters">
                    <div class="col-md-6"><i class="fa fa-filter text-right" aria-hidden="true"></i>  <b>Filters</b> (Click to hide)</div>
                    <div class="col-md-6 text-right"><b><i class="fa fa-plus" aria-hidden="true"></i> </b></div>
                </div>
            </div>
            <div class="card-body" id="sortSection">
                @using (Html.BeginForm("../Asset/AssetReport", "Asset", FormMethod.Get))
                {
                    <input type="hidden" id="filterStatus" value="@ViewBag.FilterStatus" name="filterStatus" />
                    <input type="hidden" value="@ViewBag.Grouping" name="Grouping" />
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="inputZip">Start Date (Purchase Date)</label>
                            @Html.Editor("textStartDate", new { htmlAttributes = new { @class = "form-control input-sm", @type = "date" } })
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputZip">End Date (Purchase Date)</label>
                            @Html.Editor("textEndDate", new { htmlAttributes = new { @class = "form-control input-sm", @type = "date" } })
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputZip">Asset Status</label>
                            @Html.DropDownList("assetStatusId", null, htmlAttributes: new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputZip">Asset Class</label>
                            @Html.DropDownList("assetClassId", null, "Select All", htmlAttributes: new { @class = "form-control input-sm" })

                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputZip">Sub Category</label>
                            @Html.DropDownList("Group", null, "Select All", htmlAttributes: new { @class = "form-control input-sm" })

                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputZip">Search asset</label>
                            @*Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)*@
                            @Html.Editor("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Search Here...", currentFilter = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass } })

                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputZip">Showing</label>
                            <input type="text" class="form-control input-sm" value="@ViewBag.PageSize" name="thepageSize" /> Records Per Page
                        </div>
                        <div class="form-group col-md-3">
                            <input type="submit" value="Filter" class="btn btn-info btn-sm" style="margin-top:25px;" />

                        </div>
                    </div>

                }


                <div class="row"></div>


            </div>
        </div>
        <br />
        <!--***********************************The export function**************************************-->

        @using (Html.BeginForm("AssetList", "Asset", null, FormMethod.Post,
                                                              new { enctype = "multipart/form-data" }))
        {

            if (ViewBag.assetClassFilter != null)
            {
                <input type="hidden" value="@ViewBag.assetStatusFilter" name="statusFilter" />
                <input type="hidden" value="@ViewBag.assetClassFilter" name="classFilter" />
                <input type="hidden" value="@ViewBag.startDate" name="startDateFilter" />
                <input type="hidden" value="@ViewBag.endDate" name="endDateFilter" />
                <input type="hidden" value="@ViewBag.SearchedItem" name="SearchedItemFilter" />
            }
            <input type="submit" value="Export to Excel" class="btn btn-success btn-sm" />


            <i>Total Number of Records shown - <b>@ViewBag.numEmployees</b> </i>

        }



    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-condensed table-hover table-bordered">
            <tr>
              
                <th>
                    @Html.ActionLink("Asset Class", "AssetReport", new { Grouping = ViewBag.Grouping, sortOrder = ViewBag.AssetClassSorting, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass })
                </th>
                <th> @Html.ActionLink("Asset Name", "AssetReport", new { Grouping = ViewBag.Grouping, sortOrder = ViewBag.NameSorting, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass })</th>
                <th> @Html.ActionLink("Engravement Number", "AssetReport", new { Grouping = ViewBag.Grouping, sortOrder = ViewBag.EngNumberSorting, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass })</th>

                <th>
                    @Html.ActionLink("Purchase Date", "AssetReport", new { Grouping = ViewBag.Grouping, ssortOrder = ViewBag.DateSorting, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass })
                </th>
                <th class="theMoney">
                    @Html.ActionLink("Purchase Price", "AssetReport", new { Grouping = ViewBag.Grouping, sortOrder = ViewBag.PurchasePriceSorting, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass })
                </th>

                <th>
                    @Html.ActionLink("Dep %", "AssetReport", new { Grouping = ViewBag.Grouping, ssortOrder = ViewBag.DepPercentageSorting, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass })

                </th>
                <th class="theMoney">
                    @Html.ActionLink("Dep Amount", "AssetReport", new { Grouping = ViewBag.Grouping, sortOrder = ViewBag.DepAmountSorting, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass })
                </th>

                <th class="theMoney">
                    @Html.ActionLink("Netbook Value", "AssetReport", new { Grouping = ViewBag.Grouping, sortOrder = ViewBag.NBVSorting, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass })

                </th>
                <th class="theMoney">
                    @Html.ActionLink(" Acc. Depreciation", "AssetReport", new { Grouping = ViewBag.Grouping, sortOrder = ViewBag.AccDepSorting, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass })

                </th>
                <th>
                    Status
                </th>
            </tr>

            @foreach (var item in Model)
            {
            <tr style="text-align:left">
                <td>@item.AssetClassName</td>
                <td><a href="@Url.Action("Details","Asset",new { id = item.Id, Grouping=ViewBag.Grouping })">@item.AssetName</a></td>
                <td>@item.AssetEngravementNumber</td>
                <td>@item.AssetPurchaseDate.ToString("MM/dd/yyyy")</td>
                @{
                    string a = string.Format("{0:n0}", item.AssetPurchasePrice);
                }
                <td class="theMoney">@a</td>
                <td>@item.DepPercentage</td>
                @{
                    string b = string.Format("{0:n0}", item.DepAmount);
                }
                <td class="theMoney">@b</td>
                @{
                    string c = string.Format("{0:n0}", item.GrossAmount);
                }
                <td class="theMoney">@c</td>
                @{
                    string d = string.Format("{0:n0}", item.accumulatedDepreciation);
                }
                <td class="theMoney">@d</td>
                <td>@item.AssetStatus</td>
            </tr>
            }



        </table>
    </div>
</div>


<div class="row">
    <div class="col-md-12 text-left">


        Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("AssetReport",
new { page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize,Grouping=ViewBag.Grouping, assetClassId = ViewBag.realClass, filterStatus = ViewBag.FilterStatus }))




    </div>
</div>

<hr />
@if (ViewBag.FilterStatus != null)
{
    if (ViewBag.FilterStatus == "show")
    {
        <script>
            $(document).ready(function () {
                $("#sortSection").show()

            });
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                $("#sortSection").hide()

            });
        </script>
    }
}
<script>
    //Hide or show the table with depreciations

    $("#toggleFilters").click(function () {

        $("#sortSection").toggle()
        if ($("#filterStatus").val("show")) {
            $("#filterStatus").val("hide")
        }
        if ($("#filterStatus").val("hide")) {
            $("#filterStatus").val("show")
        }
    });


</script>