﻿@model AssetMGT.Data.Asset

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3></h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Register Asset</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="control-label col-md-4"> <b>Asset Indicator</b></div>

                        @Html.DropDownList("AssetIndicatorId", null, htmlAttributes: new { @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.AssetIndicatorId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetName, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                        @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetBarCode, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetBarCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AssetBarCode, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        <div class="control-label col-md-4 text-right"> <b>Asset Class</b></div>

                        @Html.DropDownList("AssetClassId", null, "Select an Asset Class", htmlAttributes: new { @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.AssetClassId, "", new { @class = "text-danger" })
                        <!--Link to trigger modal-->
                        <section class=" ">

                            <small>
                                Not finding the asset class?
                                <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Register New Class HERE</a>
                            </small>

                        </section>



                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetSubclass, htmlAttributes: new { @class = "control-label col-md-4" })
                        @Html.DropDownList("AssetSubclass", null, "Select Subclass", htmlAttributes: new { @class = "form-control input-sm" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetPurchaseDate, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetPurchaseDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.AssetPurchaseDate, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetEngravementNumber, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetEngravementNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AssetEngravementNumber, "", new { @class = "text-danger" })
                    </div>


                </div>

                <div class="row">
                    <div class="form-group col-md-6">

                        @Html.LabelFor(model => model.AssetPurchasePrice, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetPurchasePrice, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                        @Html.ValidationMessageFor(model => model.AssetPurchasePrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetSpecifications, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.TextAreaFor(model => model.AssetSpecifications, new { style = "margin-top: 0px;margin-bottom: 0px;height: 60px;display: block;width: 280px;padding: 6px 12px;font - size: 14px;background - image: none;border-radius: 4px;border:1px solid #ccc;" })
                        @Html.ValidationMessageFor(model => model.AssetSpecifications, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group col-md-6">

                        @Html.LabelFor(model => model.SalvageValue, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.SalvageValue, new { htmlAttributes = new { @placeholder = "Its optional", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SalvageValue, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Maintenance Frequency</b>
                        @Html.DropDownList("MaintenanceFrequencyId", null, "Select Maintenance Frequency", htmlAttributes: new { @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.MaintenanceFrequencyId, "", new { @class = "text-danger" })


                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Employee</b>
                        @* @Html.DropDownList("EmployeeId", null, htmlAttributes: new { @placeholder = "If no one, choose None", @class = "form-control", required = "true" })*@
                        @Html.DropDownList("EmployeeId", null, "Select Employee", htmlAttributes: new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Supplier</b>
                        @Html.DropDownList("SupplierId", null, "Select Supplier", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Location</b>
                        @Html.EditorFor(model => model.AssetLocation, new { htmlAttributes = new { @class = "form-control"} })

                        @Html.ValidationMessageFor(model => model.AssetLocation, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Comment</b>
                        @Html.TextAreaFor(model => model.Comment, new { style = "margin-top: 0px;margin-bottom: 0px;height: 60px;display: block;width: 280px;padding: 6px 12px;font - size: 14px;background - image: none;border-radius: 4px;border:1px solid #ccc;" })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Start Depreciation Date</b>
                        @Html.EditorFor(model => model.StartDepreciationDate, new { htmlAttributes = new { @class = "form-control", @type = "date", required = "true" } })
                        @Html.ValidationMessageFor(model => model.StartDepreciationDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">End Depreciation Date</b>
                        @Html.EditorFor(model => model.EndDepreciationDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })


                    </div>
                </div>

                @Html.HiddenFor(model => model.AssetStatus, new { Value = "Active" })

                @*@Html.HiddenFor(model=>model.AllocationStatus, new { Value = "Unallocated"})*@
            </div>

            <div class="card-footer text-muted">


                <div class=" row text-center">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col-md-6">
                        <input type="submit" value="Save" class="btn btn-success btn-sm" />

                        <a href="@Url.Action("Index","Asset", new { Grouping = ViewBag.Grouping })" role="button" class="btn btn-primary btn-sm">&laquo; Back To Asset List</a>

                    </div>

                    <div class="form-group col-md-3"></div>

                </div>
            </div>
        </div>

    </div>

}

@using (Html.BeginForm("CreateAssetClassOntheFly", "AssetClass", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add A New Asset Class</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--Form for adding A new asset class-->


                    <div class="row">
                        <div class="form-group col-md-12">
                            <b class="control-label col-md-4">Asset Class Name</b>
                            @Html.Editor("AssetClassName", new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <b class="control-label col-md-4">Asset Class Status</b>
                            @Html.DropDownList("AssetClassStatus", new List<SelectListItem>
                                                 { new SelectListItem{Text="Open", Value="Open"},
                                                   new SelectListItem{Text="Closed", Value="Closed"}}, htmlAttributes: new { @class = "form-control" })

                        </div>


                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <b class="control-label col-md-4">Depreciation Method</b>
                            @Html.DropDownList("DepreciationMethod", new List<SelectListItem>
                                                 { new SelectListItem{Text="Straight Line Method", Value="StraightLineMethod"},
                                                   new SelectListItem{Text="Reducing Balance Method", Value="ReducingBalanceMethod"}}, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <b class="control-label col-md-4">Depreciation Percentage</b>
                            @Html.Editor("DepPercentage", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Save Asset Class" class="btn btn-info btn-sm" />
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">


    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
