﻿@model AssetMGT.Data.Asset

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3></h3>
<div>

                <div class="card text-center">
                    <div class="card-header">
                        Are you sure you want to delete this Asset?
                    </div>
                    <div class="card-body text-left">
                        <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal text-left">
                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.AssetClass.AssetClassCode)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AssetClass.AssetClassCode)
                                    </dd>

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.AssetIndicator.AssetIndicatorName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AssetIndicator.AssetIndicatorName)
                                    </dd>

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.Employee.FirstName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Employee.FirstName)
                                    </dd>

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.MaintenanceFrequency.TheFrequency)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.MaintenanceFrequency.TheFrequency)
                                    </dd>

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.Supplier.SupplierName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Supplier.SupplierName)
                                    </dd>

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.AssetCode)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AssetCode)
                                    </dd>

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.AssetName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AssetName)
                                    </dd>

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.AssetBarCode)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AssetBarCode)
                                    </dd>

                                   

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.AssetEngravementNumber)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AssetEngravementNumber)
                                    </dd>

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.AssetPurchaseDate)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AssetPurchaseDate)
                                    </dd>

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.AssetPurchasePrice)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AssetPurchasePrice)
                                    </dd>

                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.Comment)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Comment)
                                    </dd>
                                    <dt class="text-left">
                                        @Html.DisplayNameFor(model => model.AssetLocation)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AssetLocation)
                                    </dd>

                                </dl>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                    </div>


   

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

                    <div class="card-footer text-muted">
                                <div class="form-group col-md-3"></div>
                                <div class="form-group col-md-6">
                                    <input type="submit" value="Delete" class="btn btn-default btn-sm" />

                                    <a href="@Url.Action("Index","Asset")" role="button" class="btn btn-primary btn-sm">&laquo; Back To Asset List</a>

                                </div>

                                <div class="form-group col-md-3"></div>
                    </div>


   
        </div>
    }
</div>
