﻿@model AssetMGT.Data.Asset
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>


    <div class="card text-center">
        <div class="card-header">
            <b>Asset Details</b>
        </div>
        <div class="card-body text-left">

            <div class="col-md-6">
                @if (ViewBag.AssetStatus != null)
                {
                    if (ViewBag.AssetStatus == "Revalued")
                    {
                        if (ViewBag.RevaluedAssets != null)
                        {

                            <h4 class="text-info">Details of @Html.DisplayFor(model => model.AssetName) from @ViewBag.AssetPurchaseDate.ToString("dd MMM yyyy") to @ViewBag.RevalueDate.ToString("dd MMM yyyy")</h4>

                        }
                    }
                    else
                    {
                        <h4 class="text-info">Details of @Html.DisplayFor(model => model.AssetName) </h4>

                    }
                }

                <hr />
                <dl class="dl-horizontal text-left">


                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetClass.AssetClassName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetClass.AssetClassName)
                    </dd>
                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetSubclass)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetSubclass)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetIndicator.AssetIndicatorName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetIndicator.AssetIndicatorName)
                    </dd>

                    <dt class="text-left">
                        Employee Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Employee.FullName)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.MaintenanceFrequency.TheFrequency)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaintenanceFrequency.TheFrequency)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.Supplier.SupplierName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Supplier.SupplierName)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetCode)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetName)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetBarCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetBarCode)
                    </dd>


                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetEngravementNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetEngravementNumber)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetPurchaseDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetPurchaseDate)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetPurchasePrice)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetPurchasePrice)
                    </dd>
                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.SalvageValue)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SalvageValue)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.StartDepreciationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartDepreciationDate)
                    </dd>
                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.EndDepreciationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndDepreciationDate)
                    </dd>
                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetSpecifications)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AssetSpecifications)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetStatus)

                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AssetStatus)
                    </dd>
                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AssetLocation)

                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AssetLocation)
                    </dd>

                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.Comment)

                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Comment)
                    </dd>


                    @*@if (ViewBag.EmployeeId != null)
        { }*@
                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.AllocationStatus)

                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AllocationStatus)
                        @*@ViewBag.AllocationStatus*@
                    </dd>





                    <dt class="text-left">
                        @Html.DisplayNameFor(model => model.RevalueDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RevalueDate)
                    </dd>
                </dl>
            <hr />
        </div>


        @if (ViewBag.IsRevalued == null)
        {
            <div class="col-md-6">

                <div class="card text-center">
                    <!--Card header-->
                    <div class="card-header">
                        <b>Asset Depreciation Based on Purchase Price</b>
                    </div>

                    <!--Card body-->
                    <div class="card-body">

                        <div class="row text-left  ">
                            <div class="col-md">
                                <!--Asset Depreciation forms-->
                                @using (Html.BeginForm("Details", "Asset", FormMethod.Get))
                                {
                                    <h5>Depreciation Based on Purchase Price</h5>
                                    <p>
                                        <b>Depreciation Percentage :</b> @Html.Editor("DepPercentage", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.DepPercentage, @readonly = "true" } })


                                        <br />

                                        <b>Depreciation Method  :</b>
                                        @Html.Editor("DepreciationMethod", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.DepMethod, @readonly = "true" } })
                                        @*@Html.DropDownListFor(m => m.DepreciationMethod, new List<SelectListItem>
                                { new SelectListItem{Text="Straight Line Method", Value="slm"},
                                new SelectListItem{Text="Reducing Balance Method", Value="rbm"}}, htmlAttributes: new { @class = "form-control" })*@

                                <br />
                                <input type="button" value="Calculate" class="btn btn-info calculateBtn" />
                                </p>



                                }
                                <section class="DepreciationSection">
                                    <p><b>@ViewBag.DisplayMethod</b></p>

                                    <table class="table  table-striped table-condensed  table-hover table-bordered">
                                        <tr>
                                            <th>Year</th>
                                            <th>Dep %</th>
                                            <th>Depreciation Amount</th>
                                            <th>Accumulated Depreciation</th>
                                            <th>Net Book Value</th>
                                        </tr>

                                        @foreach (var item in ViewBag.assetList)
                                        {
                                            <tr style="text-align:left">
                                                <td>@item.Year</td>
                                                <td>@item.DepPercentage</td>

                                                @{
                                                    string a = string.Format("{0:n0}", item.DepAmount);
                                                }
                                                <td>@a</td>
                                                @{
                                                    string b = string.Format("{0:n0}", item.AccumulatedDepAmount);
                                                }
                                                <td>@b</td>
                                                @{
                                                    string c = string.Format("{0:n0}", item.GrossAmount);
                                                }
                                                <td>@c</td>
                                            </tr>
                                        }

                                    </table>

                                </section>
</div><br />


                            </div>

                        </div>

                    </div>

                </div>
                                                        }
            <br />

            @if (ViewBag.IsRevalued != null)
            {

                <div class="col-md-6" style="margin-top:20px">

                </div>

                <div class="col-md-6" style="margin-top:20px">

                    <div class="card text-center">
                        <!--Card header-->
                        <div class="card-header">
                            <b>Asset Depreciation</b>
                        </div>

                        <!--Card body-->
                        <div class="card-body">

                            <div class="row text-left  ">
                                <div class="col-md">
                                    <!--Asset Depreciation forms-->
                                    @using (Html.BeginForm("Details", "Asset", FormMethod.Get))
                                    {
                                        <h5>Depreciation</h5>
                                        <p>
                                            <b>Depreciation Percentage :</b> @Html.Editor("DepPercentage", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.DepPercentage, @readonly = "true" } })


                                            <br />

                                            <b>Depreciation Method  :</b>
                                            @Html.Editor("DepreciationMethod", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.DepMethod, @readonly = "true" } })
                                            @*@Html.DropDownListFor(m => m.DepreciationMethod, new List<SelectListItem>
                                        { new SelectListItem{Text="Straight Line Method", Value="slm"},
                                        new SelectListItem{Text="Reducing Balance Method", Value="rbm"}}, htmlAttributes: new { @class = "form-control" })*@

                                            <br />
                                            <input type="button" value="Calculate" class="btn btn-info RevalueCalculateBtn" />
                                        </p>



                                    }
                                    <section class="RevalueDepreciationSection">
                                        <p><b>@ViewBag.DisplayMethod</b></p>

                                        <table class="table  table-striped table-condensed  table-hover table-bordered">
                                            <tr>
                                                <th>Year</th>
                                                <th>Dep %</th>
                                                <th>Depreciation Amount</th>
                                                <th>Accumulated Depreciation</th>
                                                <th>Net Book Value</th>
                                            </tr>

                                            @foreach (var item in ViewBag.assetList)
                                            {
                                                <tr style="text-align:left">
                                                    <td>@item.Year</td>
                                                    <td>@item.DepPercentage</td>

                                                    @{
                                                        string a = string.Format("{0:n0}", item.DepAmount);
                                                    }
                                                    <td>@a</td>
                                                    @{
                                                        string b = string.Format("{0:n0}", item.AccumulatedDepAmount);
                                                    }
                                                    <td>@b</td>
                                                    @{
                                                        string c = string.Format("{0:n0}", item.GrossAmount);
                                                    }
                                                    <td>@c</td>
                                                </tr>
                                                        }

                                        </table>

                                    </section>
                                </div><br />


                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-md-6"> </div>


                                                        if (ViewBag.AssetStatus != null)
                                                        {
                                                            if (ViewBag.AssetStatus != "Revalued")
                                                            {
                        <div class="col-md-12">

                            <h4 class="text-info">Revaluation History of @Html.DisplayFor(model => model.AssetName) </h4>
                            <table id="revalTable" class="table  table-striped table-condensed  table-hover table-bordered">
                                <tr>
                                    <th>Asset Code</th>
                                    <th>Revaluation Date</th>
                                    <th>Parent Amount</th>
                                    <th>Revaluation Amount</th>
                                </tr>
                                @if (ViewBag.RevaluedAssets != null)
                                {
                                    foreach (var item in ViewBag.RevaluedAssets)
                                    {

                                        <tr style="text-align:left">
                                            @if (item.AssetRevalue == null)
                                            {
                                                break;
                                            }

                                            <td><a href="@Url.Action("Details", "Asset", new { id = item.Id })">@item.AssetCode</a></td>


                                            <td>@item.AssetPurchaseDate.ToString("dd MMM yyyy")</td>

                                            @{
                                                string b = string.Format("{0:n0}", item.AssetPurchasePrice);
                                            }
                                            <td>@b</td>

                                            @{

                                                string a = string.Format("{0:n0}", item.AssetRevalue);
                                            }
                                            <td>@a</td>

                                        </tr>
                                                    }
                                                }


                            </table><hr />
                        </div>
                                                        }
                                                    }

                                                }
        </div>

                <div>










                    <div class="card-footer text-muted">
                        <div class="form-group col-md-3"></div>
                        <div class="form-group col-md-6">
                            @if (ViewBag.AssetStatus != null)
                            {
                                if (ViewBag.AssetStatus != "Revalued" && ViewBag.AllocationStatus != "Allocated")
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, Grouping=ViewBag.Grouping }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " }) <a href="@Url.Action("AssetReport","Asset", new {Grouping = ViewBag.Grouping })" role="button" class="btn btn-primary btn-sm">&laquo; Back To Asset Report</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Details","Asset", new { id = ViewBag.Id, Grouping = ViewBag.Grouping })" role="button" class="btn btn-primary btn-sm">&laquo; Back To The Asset</a>

                                }
                            }
                            <a href="@Url.Action("Index","Asset", new {Grouping = ViewBag.Grouping })" role="button" class="btn btn-primary btn-sm">&laquo; Back To Asset list</a>

                        </div>

                        <div class="form-group col-md-3"></div>
                    </div>



                </div>


            </div>


   


    <!--Card for the disposal starts here-->
    <br /><br />
    
    <script>
        //Hide or show the table with depreciations
        $(document).ready(function () {
            $(".DepreciationSection").hide();

                            });
        $(".calculateBtn").click(function () {
            $(".DepreciationSection").toggle();
                            });

        //Hide or show the table with depreciations
        $(document).ready(function () {
            $(".RevalueDepreciationSection").hide();

                            });
        $(".RevalueCalculateBtn").click(function () {
            $(".RevalueDepreciationSection").toggle();
                            });

    </script>

</div>



