﻿@model  AssetMGT.ViewModels.AssetRegister
@{
    ViewBag.Title = "DuplicateDetials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DuplicateDetials</h2>

@Html.DisplayNameFor(model => model.AssetCode)

<section class="DepreciationSection">
    <p><b>@Model.DepreciationMethod</b></p>

    <table class="table  table-striped table-condensed  table-hover table-bordered">
        <tr>
            <th>Year</th>
            <th>Dep %</th>
            <th>Depreciation Amount</th>
            <th>Net Book Value</th>
        </tr>

        @foreach (var item in Model.AssetDepreciations)
        {
            <tr style="text-align:left">
                <td>@item.Year</td>
                <td>@item.Percentage</td>
                <td>@item.DepreciationAmount</td>
                <td>@item.NetBookValue</td>
            </tr>
        }

    </table>

</section>