﻿@model PagedList.IPagedList<AssetMGT.Data.Asset>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .theMoney {
        text-align: right;
    }
</style>
@if (ViewBag.error != null)
{

    <div class="alert alert-warning" role="alert">
        @ViewBag.error

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h3>Registered Assets</h3>
<br />

<div class="card">
    <div class="card-header">
        <div class="row" id="toggleFilters">
            <div class="col-md-6"><i class="fa fa-filter text-right" aria-hidden="true"></i>  <b>Filters</b> (Click to hide)</div>
            <div class="col-md-6 text-right"><b><i class="fa fa-plus" aria-hidden="true"></i> </b></div>
        </div>
    </div>
    <div class="card-body" id="sortSection">
        @using (Html.BeginForm("../Asset/Index", "Asset", FormMethod.Get))
        {
            <input type="hidden" name="Grouping" value="@ViewBag.Grouping" />
            <input type="hidden" id="filterStatus" value="@ViewBag.FilterStatus" name="filterStatus" />
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputZip">Start Date (Purchase Date)</label>
                    @Html.Editor("textStartDate", new { htmlAttributes = new { @class = "form-control input-sm", @type = "date" } })
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">End Date (Purchase Date)</label>
                    @Html.Editor("textEndDate", new { htmlAttributes = new { @class = "form-control input-sm", @type = "date" } })
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Asset Status</label>
                    @Html.DropDownList("assetStatusId", null, "Select All", htmlAttributes: new { @class = "form-control input-sm" })

                </div>
                
                <div class="form-group col-md-3">
                    <label for="inputZip">Asset Class</label>
                    @Html.DropDownList("assetClassId", null, "Select All", htmlAttributes: new { @class = "form-control input-sm" })

                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Sub Category</label>
                    @Html.DropDownList("Group", null, "Select All", htmlAttributes: new { @class = "form-control input-sm" })

                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Search Asset</label>
                    @*Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)*@
                    @Html.Editor("searchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Search here...", currentFilter = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass } })

                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Showing</label>
                    <input type="text" class="form-control input-sm" value="@ViewBag.PageSize" name="thepageSize" /> Records Per Page
                </div>
                <div class="form-group col-md-3">
                    <input type="submit" value="Filter" class="btn btn-info btn-sm" style="margin-top:25px;" />

                </div>
            </div>

        }


        <div class="row"></div>


    </div>
</div>

<br />
<p>@ViewBag.Name</p>

<div class="row">

    <div class="col-md-5 text-left">

        <a href="@Url.Action("../Asset/UnallocatedAssets","Asset", new { Grouping = ViewBag.Grouping})" class="btn btn-success btn-sm" role="button" aria-pressed="true">Allocate Assets</a>

        <a href="@Url.Action("../Asset/ReadyForDisposal","Asset")" class="btn btn-warning btn-sm" role="button" aria-pressed="true" style="margin-left:6px">Assets Ready For Disposal</a>

        <a href="@Url.Action("../Asset/Create","Asset", new { Grouping = ViewBag.Grouping})" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="margin-left:6px">Register Asset</a>

    </div>
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">Fixed Assets Summary of Active Assets</div>
            <div class="panel-body">



                @foreach (var item in ViewBag.AssetClasses)
                {
                    <div class="col-sm-3" style="margin-left:-40px;">

                        <center>
                            <strong class="text-center">
                                @item.AssetClassName  <br>

                                @item.AssetNumber
                            </strong>
                        </center>
                    </div>
                }

            </div>
        </div>
    </div>

</div>
<hr />



<i>Total Number of Records shown - <b>@ViewBag.numEmployees</b> </i>

<br /><br />
<table class="table table-striped table-condensed table-hover table-bordered">
    <tr>

        <th>
            @Html.ActionLink("Asset Class", "Index", new { Grouping = ViewBag.Grouping, sortFormat = ViewBag.ClassSorting, filterStatus = ViewBag.FilterStatus })

        </th>
        <th> @Html.ActionLink("Asset Name", "Index", new { Grouping = ViewBag.Grouping, sortFormat = ViewBag.NameSorting, filterStatus = ViewBag.FilterStatus })</th>
        <th> @Html.ActionLink("Engravement Number", "Index", new { Grouping = ViewBag.Grouping, sortFormat = ViewBag.EngNumberSorting, filterStatus = ViewBag.FilterStatus })</th>

        <th>
            @Html.ActionLink("Purchase Date", "Index", new { Grouping = ViewBag.Grouping, sortFormat = ViewBag.DateSorting, filterStatus = ViewBag.FilterStatus })
        </th>
        <th class="theMoney">

            @Html.ActionLink("Purchase Price", "Index", new { Grouping = ViewBag.Grouping, sortFormat = ViewBag.PriceSorting, filterStatus = ViewBag.FilterStatus })

        </th>
        <th>

            @Html.ActionLink("Asset Status", "Index", new { Grouping = ViewBag.Grouping, sortFormat = ViewBag.StatusSorting, filterStatus = ViewBag.FilterStatus })

        </th>


        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:left">
            <td>@item.AssetClass.AssetClassName</td>

            <td><a href="@Url.Action("Details","Asset",new { id = item.Id, Grouping = ViewBag.Grouping })">@item.AssetName </a></td>
            <td>@item.AssetEngravementNumber</td>
            <td>@item.AssetPurchaseDate.ToShortDateString()</td>
            @{
                string c = string.Format("{0:n0}", item.AssetPurchasePrice);
            }
            <td class="theMoney">@c</td>
            <td>@item.AssetStatus</td>
            <td>
                @if (item.AllocationStatus != "Allocated")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, Grouping = ViewBag.Grouping }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " })
                }

                @* @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-xs fa fa-pencil " }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-warning btn-xs fa  fa-list-alt " }) |*@
                @Html.ActionLink("Set As Ready For Disposal", "../Asset/ActivateReadyForDisposal", new { id = item.Id }, new { @class = "btn btn-danger btn-xs fa fa-ban" })
            </td>
        </tr>
    }



</table>



<div class="row">
    <div class="col-md-12 text-left">
        Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortFormat = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter, thepageSize = ViewBag.pageSize, assetClassId = ViewBag.realClass, assetStatusId = ViewBag.realStatus, filterStatus = ViewBag.FilterStatus, Grouping = ViewBag.Grouping }))
    </div>
</div>

<hr />
@if (ViewBag.FilterStatus != null)
{
    if (ViewBag.FilterStatus == "show")
    {
        <script>
            $(document).ready(function () {
                $("#sortSection").show()

            });
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                $("#sortSection").hide()

            });
        </script>
    }
}
<script>
    //Hide or show the table with depreciations

    $("#toggleFilters").click(function () {

        $("#sortSection").toggle()
        if ($("#filterStatus").val("show")) {
            $("#filterStatus").val("hide")
        }
        if ($("#filterStatus").val("hide")) {
            $("#filterStatus").val("show")
        }
    });


</script>
