﻿@model AssetMGT.ViewModels.AssetViewModel

@{
    ViewBag.Title = "Assets Ready For Disposal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Assets Ready For Disposal</h3>
@using (Html.BeginForm("Create", "Disposal", null, FormMethod.Get,
                                          new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


<span style="margin-bottom:10px">To dispose multiple assets at a time, Mark them using the checkboxes provided in the extreme left column</span> 

<br /> <input type="submit" value="Dispose Multiple" role="button" class="btn btn-danger bt-xs" style="margin-bottom:10px" />

<br />

<table class="table table-striped table-condensed table-hover table-bordered">
    <tr>
        <th>
            <input type="checkbox" style="margin-right:5px;margin-left:5px;" onclick="toggle(this);" />
        </th>
        <th>
            AssetClass Name
        </th>

        <th>
            Asset Code
        </th>
        <th>
            Asset Name
        </th>

       
        <th>
            Asset Status
        </th>
        <th>
            Purchase Date
        </th>
        <th>
            Purchase Price
        </th>


        <th>Options</th>
    </tr>

    @foreach (var item in Model.Assets)
    {
        <tr>
            <td>
                <input type="checkbox"
                       name="selectedAssets"
                       style="margin-right:5px;margin-left:5px;"
                       value="@item.Id" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetClass.AssetClassName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AssetCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.AssetStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetPurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetPurchasePrice)
            </td>



            <td>
                @Html.ActionLink("Dispose", "../Disposal/Create", new { id = item.Id }, new { @class = "btn btn-danger btn-xs fa fa-ban" })
                @Html.ActionLink("Revalue Asset", "../Asset/Revalue", new { id = item.Id }, new { @class = "btn btn-primary btn-xs fa fa-ban" })

            </td>

        </tr>
    }

</table>
}

@section Scripts {
    <script type="text/javascript">
        function toggle(source) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != source)
                    checkboxes[i].checked = source.checked;
            }
        }
    </script>

}
