﻿@model AssetMGT.Data.Asset

@{
    ViewBag.Title = "Revalue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="card text-center">
            <div class="card-header">
                <h4>Revalue Asset</h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetCode, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetCode, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        @Html.ValidationMessageFor(model => model.AssetCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetName, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                        @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetBarCode, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetBarCode, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                        @Html.ValidationMessageFor(model => model.AssetBarCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetSerialNumber, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetSerialNumber, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                        @Html.ValidationMessageFor(model => model.AssetSerialNumber, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetPurchaseDate, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetPurchaseDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.AssetPurchaseDate, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetEngravementNumber, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetEngravementNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AssetEngravementNumber, "", new { @class = "text-danger" })
                    </div>


                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.StartDepreciationDate, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.StartDepreciationDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.StartDepreciationDate, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.EndDepreciationDate, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.EndDepreciationDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.EndDepreciationDate, "", new { @class = "text-danger" })

                    </div>


                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetPurchasePrice, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetPurchasePrice, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                        @Html.ValidationMessageFor(model => model.AssetPurchasePrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AssetSpecifications, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.AssetSpecifications, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AssetSpecifications, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group col-md-6">

                        @Html.LabelFor(model => model.SalvageValue, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.SalvageValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SalvageValue, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Asset Class</b>
                        @Html.DropDownList("AssetClassId", null, htmlAttributes: new { @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.AssetClassId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Maintenance Frequency</b>
                        @Html.DropDownList("MaintenanceFrequencyId", null, htmlAttributes: new { @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.MaintenanceFrequencyId, "", new { @class = "text-danger" })


                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Employee</b>
                        @Html.DropDownList("EmployeeId", null, htmlAttributes: new { @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Supplier</b>
                        @Html.DropDownList("SupplierId", null, htmlAttributes: new { @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class=" row">

                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Asset Indicator</b>
                        @Html.DropDownList("AssetIndicatorId", null, htmlAttributes: new { @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.AssetIndicatorId, "", new { @class = "text-danger" })


                    </div>

                    <div class="form-group col-md-6">
                        <b class="control-label col-md-4">Asset Revalue</b>
                        @Html.EditorFor(model => model.AssetRevalue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AssetRevalue, "", new { @class = "text-danger" })


                    </div>

                    @Html.HiddenFor(model => model.AssetStatus, new { Value = "Active" })
                </div>

            </div>
            <div class="card-footer text-muted">
                <div class=" row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col-md-6">
                        <input type="submit" value="Save" class="btn btn-success btn-sm" />

                        <a href="@Url.Action("Index","Asset")" role="button" class="btn btn-primary btn-sm">&laquo; Back To Asset List</a>

                    </div>

                    <div class="form-group col-md-3"></div>

                </div>
            </div>
        </div>

    </div>
}


<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">


    </script>
    @Scripts.Render("~/bundles/jqueryval")
}