﻿@model AssetMGT.ViewModels.EmployeeAssetViewModel

@{
    ViewBag.Title = "UnallocatedAssets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Allocate Assets</h3>
<p>Please select an asset from the drop down to allocate it to the employee.</p>
@using (Html.BeginForm("UnallocatedAssets", "Asset", null, FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EmployeeId", Model.EmployeeList, "Select Employee", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })


        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AssetName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AssetId", Model.AssetList, "Select an Asset to Allocate", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AssetId, "", new { @class = "text-danger" })

            @*@Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })*@
        </div>
    </div>

    @Html.HiddenFor(model => model.AllocationStatus, new { Value = "Allocated" })


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="Id" value="Assign" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { Grouping = ViewBag.Grouping})
</div>
