﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <b>About Asset MIS</b>
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">

                    This Asset management Information System provides you with a systematic process of <i>planning and controlling the acquisition, operation, maintenance, renewal, and disposal</i> of assets in the most cost-effective manner (including all costs, risks and performance attributes).

                </p>
                <img class="img-fluid" src="~/Content/Images/asset.png" alt="" />
                
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <b>Asset MIS Benefits</b>
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p><b>Allows you to:</b></p>
                <ul>
                    <li>
                        Manage all assets from any location/ department
                    </li>
                    <li>
                        Understand and monitor an asset’s life-cycle
                    </li>
                    <li>
                        Monitor and track all assets in one centralized ‘hub’
                    </li>
                </ul>
            </div>
        </div>
        <p class="blockquote-footer"> Asset Management, Our Priority <cite title="Source Title"> DataCare (U) Ltd</cite></p>

 
    </div>
</div>


<div class="row">

</div>